<div class="container-fluid g-0 bd-gutter bd-layout">
  <div class="bd-sidebar"><app-category></app-category></div>
  <div>
    <main class="bd-main order-1">
      <div class="bd-intro pt-2 ps-lg-2">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

<!-- <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <aside class="">
    <div
      class="offcanvas-lg offcanvas-start"
      tabindex="-1"
      id="bdSidebar"
      aria-labelledby="bdSidebarOffcanvasLabel"
    >
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="bdSidebarOffcanvasLabel">
          Browse docs
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
          data-bs-target="#bdSidebar"
        ></button>
      </div>

      <div class="offcanvas-body">
        <nav
          class="bd-links w-100"
          id="bd-docs-nav"
          aria-label="Docs navigation"
        >
          <ul class="bd-links-nav list-unstyled mb-0 pb-3 pb-md-2 pe-lg-2">
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-indigo)"
                  aria-hidden="true"
                >
                  <use xlink:href="#book-half"></use>
                </svg>
                Getting started
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/getting-started/introduction/"
                    class="bd-links-link d-inline-block rounded"
                    >Introduction</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/download/"
                    class="bd-links-link d-inline-block rounded"
                    >Download</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/contents/"
                    class="bd-links-link d-inline-block rounded"
                    >Contents</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/browsers-devices/"
                    class="bd-links-link d-inline-block rounded"
                    >Browsers &amp; devices</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/javascript/"
                    class="bd-links-link d-inline-block rounded"
                    >JavaScript</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/webpack/"
                    class="bd-links-link d-inline-block rounded"
                    >Webpack</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/parcel/"
                    class="bd-links-link d-inline-block rounded"
                    >Parcel</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/vite/"
                    class="bd-links-link d-inline-block rounded"
                    >Vite</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/accessibility/"
                    class="bd-links-link d-inline-block rounded"
                    >Accessibility</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/rfs/"
                    class="bd-links-link d-inline-block rounded"
                    >RFS</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/rtl/"
                    class="bd-links-link d-inline-block rounded"
                    >RTL</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/getting-started/contribute/"
                    class="bd-links-link d-inline-block rounded"
                    >Contribute</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-pink)"
                  aria-hidden="true"
                >
                  <use xlink:href="#palette2"></use>
                </svg>
                Customize
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/customize/overview/"
                    class="bd-links-link d-inline-block rounded"
                    >Overview</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/customize/sass/"
                    class="bd-links-link d-inline-block rounded"
                    >Sass</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/customize/options/"
                    class="bd-links-link d-inline-block rounded"
                    >Options</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/customize/color/"
                    class="bd-links-link d-inline-block rounded"
                    >Color</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/customize/components/"
                    class="bd-links-link d-inline-block rounded"
                    >Components</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/customize/css-variables/"
                    class="bd-links-link d-inline-block rounded"
                    >CSS variables</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/customize/optimize/"
                    class="bd-links-link d-inline-block rounded"
                    >Optimize</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-teal)"
                  aria-hidden="true"
                >
                  <use xlink:href="#grid-fill"></use>
                </svg>
                Layout
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/layout/breakpoints/"
                    class="bd-links-link d-inline-block rounded"
                    >Breakpoints</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/layout/containers/"
                    class="bd-links-link d-inline-block rounded"
                    >Containers</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/layout/grid/"
                    class="bd-links-link d-inline-block rounded"
                    >Grid</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/layout/columns/"
                    class="bd-links-link d-inline-block rounded"
                    >Columns</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/layout/gutters/"
                    class="bd-links-link d-inline-block rounded"
                    >Gutters</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/layout/utilities/"
                    class="bd-links-link d-inline-block rounded active"
                    aria-current="page"
                    >Utilities</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/layout/z-index/"
                    class="bd-links-link d-inline-block rounded"
                    >Z-index</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/layout/css-grid/"
                    class="bd-links-link d-inline-block rounded"
                    >CSS Grid</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-gray)"
                  aria-hidden="true"
                >
                  <use xlink:href="#file-earmark-richtext"></use>
                </svg>
                Content
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/content/reboot/"
                    class="bd-links-link d-inline-block rounded"
                    >Reboot</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/content/typography/"
                    class="bd-links-link d-inline-block rounded"
                    >Typography</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/content/images/"
                    class="bd-links-link d-inline-block rounded"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/content/tables/"
                    class="bd-links-link d-inline-block rounded"
                    >Tables</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/content/figures/"
                    class="bd-links-link d-inline-block rounded"
                    >Figures</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-blue)"
                  aria-hidden="true"
                >
                  <use xlink:href="#ui-radios"></use>
                </svg>
                Forms
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/forms/overview/"
                    class="bd-links-link d-inline-block rounded"
                    >Overview</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/form-control/"
                    class="bd-links-link d-inline-block rounded"
                    >Form control</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/select/"
                    class="bd-links-link d-inline-block rounded"
                    >Select</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/checks-radios/"
                    class="bd-links-link d-inline-block rounded"
                    >Checks &amp; radios</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/range/"
                    class="bd-links-link d-inline-block rounded"
                    >Range</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/input-group/"
                    class="bd-links-link d-inline-block rounded"
                    >Input group</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/floating-labels/"
                    class="bd-links-link d-inline-block rounded"
                    >Floating labels</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/layout/"
                    class="bd-links-link d-inline-block rounded"
                    >Layout</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/forms/validation/"
                    class="bd-links-link d-inline-block rounded"
                    >Validation</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-cyan)"
                  aria-hidden="true"
                >
                  <use xlink:href="#menu-button-wide-fill"></use>
                </svg>
                Components
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/components/accordion/"
                    class="bd-links-link d-inline-block rounded"
                    >Accordion</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/alerts/"
                    class="bd-links-link d-inline-block rounded"
                    >Alerts</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/badge/"
                    class="bd-links-link d-inline-block rounded"
                    >Badge</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/breadcrumb/"
                    class="bd-links-link d-inline-block rounded"
                    >Breadcrumb</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/buttons/"
                    class="bd-links-link d-inline-block rounded"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/button-group/"
                    class="bd-links-link d-inline-block rounded"
                    >Button group</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/card/"
                    class="bd-links-link d-inline-block rounded"
                    >Card</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/carousel/"
                    class="bd-links-link d-inline-block rounded"
                    >Carousel</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/close-button/"
                    class="bd-links-link d-inline-block rounded"
                    >Close button</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/collapse/"
                    class="bd-links-link d-inline-block rounded"
                    >Collapse</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/dropdowns/"
                    class="bd-links-link d-inline-block rounded"
                    >Dropdowns</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/list-group/"
                    class="bd-links-link d-inline-block rounded"
                    >List group</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/modal/"
                    class="bd-links-link d-inline-block rounded"
                    >Modal</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/navbar/"
                    class="bd-links-link d-inline-block rounded"
                    >Navbar</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/navs-tabs/"
                    class="bd-links-link d-inline-block rounded"
                    >Navs &amp; tabs</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/offcanvas/"
                    class="bd-links-link d-inline-block rounded"
                    >Offcanvas</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/pagination/"
                    class="bd-links-link d-inline-block rounded"
                    >Pagination</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/placeholders/"
                    class="bd-links-link d-inline-block rounded"
                    >Placeholders</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/popovers/"
                    class="bd-links-link d-inline-block rounded"
                    >Popovers</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/progress/"
                    class="bd-links-link d-inline-block rounded"
                    >Progress</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/scrollspy/"
                    class="bd-links-link d-inline-block rounded"
                    >Scrollspy</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/spinners/"
                    class="bd-links-link d-inline-block rounded"
                    >Spinners</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/toasts/"
                    class="bd-links-link d-inline-block rounded"
                    >Toasts</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/components/tooltips/"
                    class="bd-links-link d-inline-block rounded"
                    >Tooltips</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-orange)"
                  aria-hidden="true"
                >
                  <use xlink:href="#magic"></use>
                </svg>
                Helpers
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/helpers/clearfix/"
                    class="bd-links-link d-inline-block rounded"
                    >Clearfix</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/color-background/"
                    class="bd-links-link d-inline-block rounded"
                    >Color &amp; background</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/colored-links/"
                    class="bd-links-link d-inline-block rounded"
                    >Colored links</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/position/"
                    class="bd-links-link d-inline-block rounded"
                    >Position</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/ratio/"
                    class="bd-links-link d-inline-block rounded"
                    >Ratio</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/stacks/"
                    class="bd-links-link d-inline-block rounded"
                    >Stacks</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/stretched-link/"
                    class="bd-links-link d-inline-block rounded"
                    >Stretched link</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/text-truncation/"
                    class="bd-links-link d-inline-block rounded"
                    >Text truncation</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/vertical-rule/"
                    class="bd-links-link d-inline-block rounded"
                    >Vertical rule</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/helpers/visually-hidden/"
                    class="bd-links-link d-inline-block rounded"
                    >Visually hidden</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-red)"
                  aria-hidden="true"
                >
                  <use xlink:href="#braces-asterisk"></use>
                </svg>
                Utilities
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/utilities/api/"
                    class="bd-links-link d-inline-block rounded"
                    >API</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/background/"
                    class="bd-links-link d-inline-block rounded"
                    >Background</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/borders/"
                    class="bd-links-link d-inline-block rounded"
                    >Borders</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/colors/"
                    class="bd-links-link d-inline-block rounded"
                    >Colors</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/display/"
                    class="bd-links-link d-inline-block rounded"
                    >Display</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/flex/"
                    class="bd-links-link d-inline-block rounded"
                    >Flex</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/float/"
                    class="bd-links-link d-inline-block rounded"
                    >Float</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/interactions/"
                    class="bd-links-link d-inline-block rounded"
                    >Interactions</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/opacity/"
                    class="bd-links-link d-inline-block rounded"
                    >Opacity</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/overflow/"
                    class="bd-links-link d-inline-block rounded"
                    >Overflow</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/position/"
                    class="bd-links-link d-inline-block rounded"
                    >Position</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/shadows/"
                    class="bd-links-link d-inline-block rounded"
                    >Shadows</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/sizing/"
                    class="bd-links-link d-inline-block rounded"
                    >Sizing</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/spacing/"
                    class="bd-links-link d-inline-block rounded"
                    >Spacing</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/text/"
                    class="bd-links-link d-inline-block rounded"
                    >Text</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/vertical-align/"
                    class="bd-links-link d-inline-block rounded"
                    >Vertical align</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/utilities/visibility/"
                    class="bd-links-link d-inline-block rounded"
                    >Visibility</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-blue)"
                  aria-hidden="true"
                >
                  <use xlink:href="#tools"></use>
                </svg>
                Extend
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/extend/approach/"
                    class="bd-links-link d-inline-block rounded"
                    >Approach</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/extend/icons/"
                    class="bd-links-link d-inline-block rounded"
                    >Icons</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-group py-2">
              <strong
                class="bd-links-heading d-flex w-100 align-items-center fw-semibold"
              >
                <svg
                  class="bi me-2"
                  style="color: var(--bs-indigo)"
                  aria-hidden="true"
                >
                  <use xlink:href="#globe2"></use>
                </svg>
                About
              </strong>

              <ul class="list-unstyled fw-normal pb-2 small">
                <li>
                  <a
                    href="/docs/5.2/about/overview/"
                    class="bd-links-link d-inline-block rounded"
                    >Overview</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/about/team/"
                    class="bd-links-link d-inline-block rounded"
                    >Team</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/about/brand/"
                    class="bd-links-link d-inline-block rounded"
                    >Brand</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/about/license/"
                    class="bd-links-link d-inline-block rounded"
                    >License</a
                  >
                </li>
                <li>
                  <a
                    href="/docs/5.2/about/translations/"
                    class="bd-links-link d-inline-block rounded"
                    >Translations</a
                  >
                </li>
              </ul>
            </li>
            <li class="bd-links-span-all mt-1 mb-3 mx-4 border-top"></li>
            <li class="bd-links-span-all">
              <a
                href="/docs/5.2/migration/"
                class="bd-links-link d-inline-block rounded small"
              >
                Migration
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </aside>

  <div
    class="d-md-flex flex-md-row-reverse align-items-center justify-content-between"
  >
    <a
      class="btn btn-sm btn-bd-light mb-3 mb-md-0 rounded-2"
      href="https://github.com/twbs/bootstrap/blob/v5.2.3/site/content/docs/5.2/layout/utilities.md"
      title="View and edit this file on GitHub"
      target="_blank"
      rel="noopener"
    >
      View on GitHub
    </a>
    <h1 class="bd-title mb-0" id="content">Utilities for layout</h1>
  </div>
  <p class="bd-lead">
    For faster mobile-friendly and responsive development, Bootstrap includes
    dozens of utility classes for showing, hiding, aligning, and spacing
    content.
  </p>
  <script
    async=""
    src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&amp;placement=getbootstrapcom"
    id="_carbonads_js"
  ></script>
</div>

<div class="bd-toc mt-3 mb-5 my-lg-0 ps-xl-3 mb-lg-5 text-muted">
  <button
    class="btn btn-link link-dark p-md-0 mb-2 mb-md-0 text-decoration-none bd-toc-toggle d-md-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#tocContents"
    aria-expanded="false"
    aria-controls="tocContents"
  >
    On this page
    <svg class="bi d-md-none ms-2" aria-hidden="true">
      <use xlink:href="#chevron-expand"></use>
    </svg>
  </button>
  <strong class="d-none d-md-block h6 my-2">On this page</strong>
  <hr class="d-none d-md-block my-2" />
  <div class="collapse bd-toc-collapse" id="tocContents">
    <nav id="TableOfContents">
      <ul>
        <li>
          <a href="#changing-display">Changing <code>display</code></a>
        </li>
        <li><a href="#flexbox-options">Flexbox options</a></li>
        <li><a href="#margin-and-padding">Margin and padding</a></li>
        <li>
          <a href="#toggle-visibility">Toggle <code>visibility</code></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="bd-content ps-lg-2">
  <h2 id="changing-display">
    Changing <code>display</code>
    <a
      class="anchor-link"
      href="#changing-display"
      aria-label="Link to this section: Changing display"
    ></a>
  </h2>
  <p>
    Use our <a href="/docs/5.2/utilities/display/">display utilities</a> for
    responsively toggling common values of the <code>display</code> property.
    Mix it with our grid system, content, or components to show or hide them
    across specific viewports.
  </p>
  <h2 id="flexbox-options">
    Flexbox options
    <a
      class="anchor-link"
      href="#flexbox-options"
      aria-label="Link to this section: Flexbox options"
    ></a>
  </h2>
  <p>
    Bootstrap is built with flexbox, but not every element’s
    <code>display</code> has been changed to <code>display: flex</code> as this
    would add many unnecessary overrides and unexpectedly change key browser
    behaviors. Most of
    <a href="/docs/5.2/components/alerts/">our components</a> are built with
    flexbox enabled.
  </p>
  <p>
    Should you need to add <code>display: flex</code> to an element, do so with
    <code>.d-flex</code> or one of the responsive variants (e.g.,
    <code>.d-sm-flex</code>). You’ll need this class or
    <code>display</code> value to allow the use of our extra
    <a href="/docs/5.2/utilities/flex/">flexbox utilities</a> for sizing,
    alignment, spacing, and more.
  </p>
  <h2 id="margin-and-padding">
    Margin and padding
    <a
      class="anchor-link"
      href="#margin-and-padding"
      aria-label="Link to this section: Margin and padding"
    ></a>
  </h2>
  <p>
    Use the <code>margin</code> and <code>padding</code>
    <a href="/docs/5.2/utilities/spacing/">spacing utilities</a> to control how
    elements and components are spaced and sized. Bootstrap includes a six-level
    scale for spacing utilities, based on a <code>1rem</code> value default
    <code>$spacer</code> variable. Choose values for all viewports (e.g.,
    <code>.me-3</code> for <code>margin-right: 1rem</code> in LTR), or pick
    responsive variants to target specific viewports (e.g.,
    <code>.me-md-3</code> for <code>margin-right: 1rem</code> —in LTR— starting
    at the <code>md</code> breakpoint).
  </p>
  <h2 id="toggle-visibility">
    Toggle <code>visibility</code>
    <a
      class="anchor-link"
      href="#toggle-visibility"
      aria-label="Link to this section: Toggle visibility"
    ></a>
  </h2>
  <p>
    When toggling <code>display</code> isn’t needed, you can toggle the
    <code>visibility</code> of an element with our
    <a href="/docs/5.2/utilities/visibility/">visibility utilities</a>.
    Invisible elements will still affect the layout of the page, but are
    visually hidden from visitors.
  </p>
</div> -->
