<article class="container-md">
  <section>
    <h1>დაბრუნება</h1>
    <p>
      დაბრუნების დროს, როგორც მიღების დროს მომწოდებელი ტვირთავს ზედნადებს.
      ზედნადებში მითითებულია პროდუქციის სახეობა, რაოდენობა და ფასი. დაბრუნება
      ხდება მიღების ზედნადებიდან, რაც იმას ნიშნავს, რომ დასაბრუნებელ პროდუქცია
      უნდა გვქონდეს იგივე მომწოდებლისგან და იგივე ფასით მიღებული. ანუ
      მომწოდებელი რა ფასითაც შემოგვიტანს პროდუქციას იგივე ფასში უნდა დაიბრუნოს.
      შევიდეთ დაბრუნების ფანჯარაში.
    </p>
    <img
      src="../../../../assets/images/docs/return-window.png"
      alt=""
      width="70%"
    />
    <p>
      დაბრუნებაში გვაქვს თარიღით ფილტრაცია, მაგრამ მიღებისგან განსხვავებით
      დაბრუნებაში მხოლოდ 3 დღიანი ინტერვალით შეგვიძლია მოვძებნოთ ზედნადები,
      ნებისმიერი პერიოდის მაქსიმუმ 3 დღიანი ინტერვალით. მაგალითად თუ დაწყების
      თარიღს მივუთითებთ 2023 წლის 15 ოქტომბერს , საბოლოო თარიღად შეგვიძლია
      მივუთითოთ მაქსიმუმ 2023 წლის 17 ოქტომბერი. ასევე გვაქვს მომწოდებლით და
      ზედნადების ნომრით ფილტრაცია. წითელი დასაბრუნებელი ხოლო თეთრი დაბრუნებულ
      ზედნადებებს ნიშნავს.
    </p>
    <p>ავირჩიოთ ზედნადები რომლის დაბრუნებაც გვინდა.</p>
    <p>
      შუა გრაფაში გამოგვიჩნდება არჩეულ ზედნადებში ატვირთულ პროდუქციებზე
      ინფორმაცია:
    </p>
    <ul>
      <li><strong>RS კოდი </strong> - მომწოდებლის მიერ ატვირთული შტრიხკოდი.</li>
      <li>
        <strong>RS დასახელება - </strong> მომწოდებლის მიერ ატვირთული პროდუქციის
        დასახელება.
      </li>
      <li>
        <strong>კოდი </strong>- ჩვენს ბაზაში ამ პროდუქციის შტრიხკოდი(რაზეა
        პროდუქცია დაკავშირებული.)
      </li>
      <li>
        <strong>დასახელება</strong>- ჩვენს ბაზაში ამ პროდუქციის დასახელება
        (რაზეა პროდუქცია დაკავშირებული).
      </li>
      <li>
        <strong>რაოდენობა </strong> - რამდენი ერთეული უნდა დავაბრუნოთ პროდუქცია.
      </li>
      <li><strong>ფასი</strong> - რა ფასში უნდა დავაბრუნოთ პროდუქცია.</li>
      <li>
        <strong>დაბრუნებული </strong>- რამდენი დავაბრუნეთ მიღების დოკუმენტიდან
      </li>
      <li>
        <strong>ლიმიტი</strong> - რამდენი ერთეულის დაბრუნება შეგვიძლია მიღების
        დოკუმენტის მიხედვით.
      </li>
      <li>
        <strong>დოკუმენტი </strong>- იმ დოკუმენტის ნომერი საიდანაც დავაბრუნებთ
        პროდუქციას.
      </li>
    </ul>
    <p>
      ავირჩიოთ პროდუქცია.(პროდუქციები უნდა დავაბრუნოთ სათითაოდ, დავდგეთ
      პროდუქციის ზოლზე ნებისმიერ ადგილას)
    </p>
    <img
      src="../../../../assets/images/docs/return-product-window.png"
      width="50%"
      alt=""
    />
    <p>
      პროდუქციის არჩევის შემდეგ ქვევით არსებულ ფანჯარაში გამოგვიჩნდება არჩეული
      პროდუქციის მიღების ზედნადები, სადაც მითითებულია:
    </p>

    <ul>
      <li>
        <strong>რაოდენობა </strong> - კონკრეტული ზედნადებით რა რაოდენობა გვაქვს
        მიღებული.
      </li>
      <li><strong>თვითღირებულება </strong>- რა ფასში გვაქვს მიღებული</li>
      <li><strong>დრო</strong> - როდის მივიღეთ ზედნადები.</li>

      <li><strong>დოკუმენტი </strong>- ზედნადების ნომერი.</li>
      <li>
        <strong>დაბრუნებული </strong> - კონკრეტული ზედნადებიდან რამდენი ერთეული
        გვაქვს დაბრუნებული.
      </li>
      <li>
        <strong>დარჩენილი </strong>- რამდენის დაბრუნება შეგვიძლია ამ კონკრეტული
        ზედნადებიდან.
      </li>
    </ul>
    <p>
      შემდეგი ნაბიჯია, რომ ავირჩიოთ მიღების ზედნადები რომლიდანაც დავაბრუნებთ
      პროდუქციას. მიღების ზედნადებები დალაგებულია თარიღის (კლებადობით)მიხედვით
      და უნდა დავაბრუნოთ ბოლოს მიღებული ზედნადებიდან ანუ პირველი ზედნადებიდან.
      თუ რაოდენობაში მითითებულია იმაზე მეტი რაოდენობა რაც ერთ ჯერზე ერთი
      ზედნადებიდან გვაქვს მიღებული, ამ შემთხვევაში მაქსიმუმ რა რაოდენობის
      დაბრუნებაც შეიძლება შეავსებს პროგრამა და დარჩენილ რაოდენობას ცალკე ველში
      გადმოგვიტანს, ვნახოთ მაგალითი:
    </p>
    <p>
      როგორც ვხედავთ პირველი ზედნადების შემდეგ რადგან დასაბრუნებელი რაოდენობა
      იყო 10 ხოლო ჩვენ
    </p>
    <img
      src="../../../../assets/images/docs/return-chosen-product.png"
      alt=""
      width="50%"
    />
    <p>
      ერთბაშად მხოლოდ5 ცალი გვქონდა მიღებული, 5 დაბრუნდა ხოლო დანარჩენი 5 ახალი
      ველის სახით დაემატა, აქ უკვე ავირჩევთ მეორე პოზიციას და მიღებული
      ზედნადებებიდან მეორე ზედნადებს, თუ მაინც ერ ეყოფოდა რაოდენობა ავირჩევდით
      მე-3-ე ზედნადებს. ამგვარად უნდა შევავსოთ ყველა პროდუქცია და დავაჭიროთ
      <img src="../../../../assets/images/docs/rs-done-btn.png" alt="logo" />
    </p>
    <p>
      დაბრუნებისას პროდუქციის არჩევის შემდეგ შესაძლოა არ გვიჩვენოს მიღების
      ზედნადებები, ამის მიზეზია, რომ ეს პროდუქცია არ გვაქვს შემოტანილი იმ
      მომწოდებლისგან რომელმაც აგვიტვირთა დაბრუნება, ან არ არის პროდუქცია იმ
      თვითღირებულებით ატვირთული რა ფასშიც მივიღეთ, როგორც ვახსენეთ, პროდუქცია რა
      ფასშიც მივიღეთ დაბრუნებაც ანალოგიურ ფასში უნდა მოხდეს.
    </p>
    <p>
      პროგრამა ავტომატურად ფილტრავს ფასს, რომ შემთხვევით, არასწორ ფასად არ
      დავაბრუნოთ პროდუქცია. შესაძლებელია მოვხსნათ ფასის ფილტრაცია, იმ მიზნით,
      რომ გავიგოთ რა ფასში გვაქვს კონკრეტული პროდუქციის მიღება , ანუ რა ფასში
      უნდა ავატვირთვინოთ მომწოდებელს პროდუქცია რომ შევძლოთ დაბრუნება. დავაჭიროთ
      <img src="../../../../assets/images/docs/back-arrow-btn.png" alt="" />
    </p>
    <p>ამ ფანჯარაში გვხვდება სხვადასხვა ფილტრაციები:</p>
    <div>
      <img
        src="../../../../assets/images/return-drag-window.png"
        class="float-start"
        alt=""
      />
      <p>
        დროის ფილტრაცია - მალავს ისეთ ზედნადებებს რომელიც მიღებულია ატვირთული
        დაბრუნების შემდეგ, პირობითად თუ დაბრუნების ზედნადები ატვირთულია 2023
        წლის 10 ოქტომბერის , ამ თარიღის შემდეგ ატვირთულ მიღებებს არ გვაჩვენებ.
      </p>
      <p>
        ნულის გამოჩენა - გამოგვიჩენს ისეთ ზედნადებებს სადაც მიღებული რაოდენობა
        უკვე სრულად გვაქვს დაბრუნებული.
      </p>
      <p>
        ავტომატური განაწილება - როგორც ზემოთ ავღნიშნეთ, თუ ერთბაშად უფრო მეტი
        რაოდენობაა ვიდენ ერთი ზედნადებით გვაქვს მიღებული, ზედნადების არჩევის
        დროს გაანაწილებს რაოდენობას. ეს მონიშვნა რთავს ამ ფუნქცია რის გაუქმებაც
        არ არის რეკომენდირებული.
      </p>
      <p>
        ფასის გაფილტვრა - გვიჩვენებს არჩეული პროდუქციის ნებისმიერ ფასში მიღებას,
        თუ ფასის გამო პროგრამა არ გვაბრუნებინებს პროდუქცია, რადგან არ გვიჩვენებს
        ასარჩევ მიღების ზედნადებს, ფასი გაფილტვრის მოხსნის შემდეგ გამოგვიჩნდება
        სხვა ფასში მიღებული ზედნადებები. გამოტანილი ზედნადების არჩევა და
        ზედნადების სხვა ფასში დაბრუნება არ არის რეკომენდირებული რადგან
        პროგრამასა და RS შორის გვექნება სხვაობა. გამოსავალი არის ის, რომ
        მომწოდებელს ჩავასწორებინოთ ზედნადები, კონკრეტულად ჩაასწოროს პროდუქციის
        ფასი და მიუთითოს ის ფასი რა ფასშიც აქვს პროდუქცია შემოტანილი.
      </p>
    </div>
  </section>
  <section>
    <h1>ხელით დაბრუნება</h1>
  </section>
</article>
