<article>
  <section id="main">
    <h1>ჩამოწერა</h1>
    <p>
      თუ მაღაზიაში გვაქვს რეალიზაციისთვის უვარგისი პროდუქცია, ვადაგასული,
      დაზიანებული ან და პროდუქცია მოგვპარეს საჭიროა, რომ ასეთი პროდუქციის
      ჩამოწერა დავაფიქსიროთ , როგორც პროგრამულად ასევე შემოსავლების სამსახურში.
      ვადაგასულ პროდუქციას ხშირ შემთხვევაში იბრუნებენ მომწოდებლები, მაგრამ არიან
      მომწოდებლები რომლებთაც არ აქვთ დაბრუნება და შესაბამისად როდესაც პროდუქციას
      გასდის ვადა ანაზღაურება(ზარალი) გვეკუთნის ჩვენ.
    </p>
    <p>პროდუქციის ჩამოსაწერად უნდა გადავიდეთ ჩამოწერის ფანჯარაში.</p>
    <img
      src="../../../../assets/images/docs/write-off-window.png"
      width="50%"
      alt=""
    />
    <p>
      ძიება შესაძლებელია მხოლოდ კოდით, დასახელებით ვერ მოვძებნით პროდუქციას,
      ჩავწეროთ პროდუქციის კოდი ან შტრიხკოდი და ავირჩიოთ ჩამოსაწერი პროდუქცია.
    </p>
    <img
      src="../../../../assets/images/docs/write-off-search.png"
      class="float-start"
      alt=""
    />
    <p>
      არჩევის შემდეგ ჩამოწერის ფანჯარაში გადმოიტანს პროდუქციას. რაოდენობაში
      ვწერთ რამდენი ერთეული პროდუქციის ჩამოწერაც გვსურს. თვითღირებულება
      მითითებულია, შესაბამისად ჯამს , ანუ დანაკლისს, პროგრამა დაგვითვლის
      ავტომატურად. ამის შემდეგ დავაჭიროთ მწვანე პლუსს , პროგრამა მიანიჭებს
      დოკუმენტის ნომერს და დავაჭიროთ შესრულებას. ჩამოწერის დროს თუ მომწოდებელთან
      ხელშეკრულება გვაქვს რეალიზაციებით, პროგრამა ჩამოწერის ჯამს დაიანგარიშებს
      და დაითვლის მომწოდებლის დავალიანებაში.
    </p>
  </section>
  <section id="cancel">
    <h1>ჩამოწერის გაუქმება</h1>
    <p>
      ჩამოწერის გასაუქმებლად უნდა გადავიდეთ დოკუმენტებში, მოვძებნოთ დოკუმენტი
      რომელი დოკუმენტიც გვინდა რომ წავშალოთ.
    </p>
    <img
      src="../../../../assets/images/docs/write-off-product-table.png"
      alt=""
      width="50%"
    />
    <p>
      ავირჩიოთ დოკუმენტი, ავირჩიოთ პროდუქცია რომლის წაშლაც გვინდა, მოვნიშნოთ
      წაშლის დადასტურება და დავაჭიროთ წაშლის ღილაკს
      <img src="../../../../assets/images/docs/write-off-delete.png" alt="" />
    </p>
  </section>
</article>
