<article>
  <h1>მოდით სიმარტივისთვის დავნომროთ ხატულები.</h1>
  <img
    src="../../../../assets/images/docs/extrafunctionality-table.png"
    class="w-75"
    alt=""
  />
  <div>
    <ul class="mt-4">
      <li class="d-flex align-items-center">
        <img
          src="../../../../assets/images/docs/scale-icon.png"
          class="me-2"
          alt=""
        />

        <p>
          სასწორზე გადაგზავნა , სასწორზე გადასაგზავნად აუცილებელია, რომ
          პროდუქციას ქონდეს შიდა კოდი და ერთეულში ეწეროს „კგ“ ან „ცალი“. არარის
          საჭირო კონკრეტული პროდუქციების მონიშვნა, ხატულაზე დაჭერისას
          ავტომატურად გადაიგზავნება ყველა წონის პროდუქცია.
        </p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/print-icon-img.png"
          class="me-2"
          alt=""
        />
        <p>
          ეს ხატულა ფას მაჩვენებლების პრინტერიდან ამოღებაში გვეხმარება, საჭიროა
          მოვნიშნოთ(გავალურჯოთ) ყველა ის პროდუქცია რომლის ფასის ამოღებაც გვინდა.
        </p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/excel-icon.png"
          alt=""
          class="me-2"
        />
        <p>
          ამ ხატულაზე დაჭერით შეგვიძლია, ყველა პროდუქცია , რომელიც მოფილტრული
          გვაქვს პროდუქციის ფანჯარაში , გადავიტანოთ ექსელის ფაილად. გადაყვება
          ყველა სახის ინფორმაცია რაც ჩანს პროდუქციაში.
        </p>
      </li>

      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/plus-icon.png"
          class="me-2"
          alt=""
        />
        <p>
          მწვანე პლიუსზე დაჭერით პროგრამა ავტომატურად დაგვიგენერირებს 4 ნიშნა
          კოდს, რაც საჭიროა წონის პროდუქციებისთვის და ისეთი პროდუქციების
          გასატარებლად რომელთაც არ აქვთ შტრიხკოდი.
        </p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/C-icon.png"
          alt=""
          class="me-2"
        />
        <p>
          ასუფთავებს პროდუქციის შექმნისას პროდუქციაზე ინფორმაციის შესაყვან
          ველელბს.
        </p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/value-extrafunctionality-icon.png"
          alt=""
          class="me-2"
        />
        <p>
          თვითღირებულებასთან ერთად გამოაქვს პროდუქციების ჯამური გასაყიდი ფასი და
          მოგება.
        </p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/change-price-icon.png"
          alt=""
          class="me-2"
        />
        <p>
          როდესაც ფასის ცვლილება მონიშნულია, პროდუქციის ფასი ვეღარ შეიცვლება და
          ვერ დაედება კარფურის რეკომენდირებული ფასი, რეალურად ფასის ცვლილებით
          შეგვიძლია განვსაზღვროთ გვინდა თუ არა კარფურის რეკომენდირებულ ფასებზე
          ყოფნა , თუ ფასის ცვლილება არ არის მონიშნული, პროდუქციას ავტომატურად
          დაედება კარფურის რეკომენდირებული ფასი.
        </p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/activated-icon.png"
          alt=""
          class="me-2"
        />
        <p>
          ამ გრაფის ამოშლა არ არის რეკომენდირებული, თუ ამოვნიშნავთ „აქტიური“
          პროდუქცია იქნება არააქტიური და არ გამოგვიჩნდება პროდუქციის ფანჯარაში.
        </p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/see-all-icon.png"
          alt=""
          class="me-2"
        />
        <p>თუ მოვნიშნავთ გვაჩვენებს წაშლილ და ასევე არააქტიურ პროდუქციებსაც.</p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/hide-icon.png"
          alt=""
          class="me-2"
        />
        <p>დამალავს ისეთ პროდუქციებს რომელიც პროგრამულად არ გვაქვს ნაშთზე.</p>
      </li>
      <li class="d-flex align-items-center mt-3">
        <img
          src="../../../../assets/images/docs/delete-icon.png"
          class="me-2"
          alt=""
        />
        <p>
          პროდუქციის წაშლა, ჭირდება დადასტურება ანუ მარჯვნივ მდებარე კვადრატის
          მონიშვნა. წაშლილი პროდუქცია შეგვიძლია უკან დავაბრუნოთ, „აქტიური“-ს
          მონიშვნით.
        </p>
      </li>
    </ul>
  </div>
</article>
