<article class="container-sm ">
  <h1 >მომწოდებლები</h1>
  <section>
    <p>
      მომწოდებლების ფანჯრიდან საშუალება გვაქვს შევქმნათ მომწოდებლები,
      ხელშეკრულებები, ვაკონტროლოთ გადახდები და ვნახოთ დავალიანებები.
    </p>
    <p>
      მომწოდებლები რომელთაც აქვთ ფუდმარტთან ხელშეკრულება პროგრამაში ავტომატურად
      იქნება დამატებული.
    </p>

    <div class="d-flex align-items-center justify-content-center">
      <img
        src="../../../../assets/images/docs/suppliers-table.png"
        alt=""
        width="30%"
      />
      <p>
        ამ ფანჯარაში შეგვიძლია მოვძებნოთ ფუდმარტის ან და ჩვენ მიერ შექმნილი
        მომწოდებლები, ვნახოთ მათი ხელშეკრულებები და შემოტანები. მომწოდებლის
        მოძიება შეგვიძლია, როგორც დასახელებით, ასევე საიდენტიფიკაციო კოდით.
        სასურველი მომწოდებლის არჩევის შემდეგ მარჯვენა ფანჯარაში გამოგვიჩნდება ამ
        მომწოდებლის ხელშეკრულებები და შემოტანები:
      </p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <img
        src="../../../../assets/images/docs/suppliers-types.png"
        alt=""
        width="30%"
      />
      <p>
        ამ ფანჯარაში მოცემულია მომწოდებლის ხელშეკრულებები და ამ ხელშეკრულებები
        პირობები. მითითებულია ხელშეკრულების ნომერი, დასახელება, გადახდის და
        პირობის დაწყების თარიღები, პირობა და არის თუ არა ეს ხელშეკრულება აქტიური
        (ACTIVE ში 0 ნიშნავს რომ ხელშეკრულება არის არააქტიური ხოლო 1 ნიშნავს რომ
        არის აქტიური) ნებისმიერი ხელშეკრულების არჩევის შემდეგ გამოგვიჩნდება ამ
        ხელშეკრულების პირობები.
      </p>
    </div>
    <p>
      მოდით შევქმნათ ხელშეკრულება შემდეგი პირობებით : გადახდა უნდა მოხდეს ყოველი
      კვირის ხუთშაბათს, რეალიზაციების მიხედვით, ანუ უფრო ზუსტად რასაც გავყიდით
      ერთი კვირის განმავლობაში უნდა გადავიხადოთ შემდეგი კვირის ხუთშაბათ დღეს.
    </p>

    <img
      src="../../../../assets/images/docs/suppliers-types.png"
      alt=""
      class="float-start"
      width="30%"
    />
    <p>
      ავირჩიოთ „კვირის დღეებით“, კვირის დღეებიდან მოვნიშნოთ ხუთშაბათი,
      (ინტერვალი რჩება 01) ბუფერულ პერიოდში ვწერთ ნოლს, პირობაში ვირჩევთ
      „გაყიდვებით“. ამ ხელშეკრულებას უნდა მივანიჭოთ ნომერი, ნომერი შეგვიძლია
      მივანიჭოთ ნებისმიერი ციფრების კომბინაცია თუმცა უნდა გავითვალისწინოთ, რომ
      არ უნდა ემთხვეოდეს სხვა ხელშეკრულების ნომერს, დასახელებაში უნდა ჩავწეროთ
      რა ერქმევა ამ პირობას მაგ. „მომწოდებელთან შეთანხმება“ ან „საქონლის შეძენის
      შეთანხმება“ შესაძლოა იყოს რაიმე კონკრეტული შეთანხმება მაგალითად
      „საკონდიტრო საქონლის შეძენის შეთანხმება“. შესაძლოა ერთ მომწოდებელს ქონდეს
      რამდენიმე დანაყოფი: რძის ნაწარმი, ხორცეული , საკონდიტრო პროდუქციები.
      დავუშვათ, რომ ამ მომწოდებლის ყველა დანაყოფიდან შემოგვაქვს პროდუქცია,
      მაგრამ ამ დანაყოფებს სხვადასხვა გადახდის გრაფიკი აქვთ, ამ შემთხვევაში
      მოგვიწევს ცალ-ცალკე ხელშეკრულების შექმნა და ამ პროდუქციების შესაბამისი
      ხელშეკრულებებით მიღება, რადგან პროგრამამ სწორად შეძლოს დათვლა თუ რომელი
      დანაყოფისთვის რა თანხა გვექნება გადასახდელი. თუ სამივე დანაყოფის
      ხელშეკრულებებს დავარქმევთ ერთსა და იმავე სახელს გაგვიჭირდება მათი
      განსხვავება, ამიტომ უკეთესი იქნება, რომ მივუთითოთ ჩვენთვის გასაგები,
      კონკრეტული დასახელებები.
    </p>
    <p>
      ავირჩიოთ ამ ხელშეკრულების დაწყების თარიღი(ზედნადებები თუ უკვე ატვირთულია
      ,რომელიც ამ ხელშეკრულებას უნდა მივაბათ, ავირჩიოთ წინა პერიოდი ). მოვნიშნოთ
      აქტიური რადგან ხელშეკრულება გააქტიურდეს, გვიჩვენოს მიღების დროს და
      პროგრამამ დაითვალოს დავალიანებები. ბოლოს დავაჭიროთ პირობის შექმნას. უნდა
      გავითვალისწინოთ, რომ მსგავსი ხელშეკრულებები უნდა შევქმნათ იმ შემთხვევაში
      თუ ჩვენ პირადად გვაქვს მომწოდებელთან შეთანხმება, თუ მომწოდებელს
      ხელშეკრულება აქვს ფუდმარტთან ამ შემთხვევაში ხელშეკრულებები უკვე შექმნილი
      იქნება მომწოდებელზე და ჩვენ მის ჩასწორებას ვერ შევძლებთ. ჩვენი შექმნილი
      ხელშეკრულებები იქნება მხოლოდ ლოკალურად, ანუ ჩვენს ბაზაში და ვერცერთი სხვა
      ფრანჩაიზი და ვერც ფუდმარტი მას ვერ დაინახავს. არ იმოქმედებს არც ფუდმარტის
      ბონუს სისტემა და არც მომწოდებლის ქეშბექები.
    </p>
    <p>ანალოგიურად უნდა მოვიქცეთ თუ გვინდა ყოველთვიური ხელშეკრულების შექმნა:</p>
    <img
      src="../../../../assets/images/docs/suppliers-types.png"
      alt=""
      class="float-start"
      width="30%"
    />
    <p>
      ავირჩიოთ „ყოველთვიურად“, მოვნიშნოთ გადახდის დღე, ავირჩიოთ გადახდის რიცხვი.
      ყოველთვიური გადახდა არ ხდება კონკრეტული რიცხვში, ხდება კონკრეტულ კვირის
      დღეს, შესაბამისად თუ კვირის დღეში ავირჩევთ ხუთშაბათს ხოლო გადახდის რიცხვში
      ჩავწერთ 22, გადახდას გვიჩვენებს შემდეგი თვის 22 რიცხვის შემდეგ ხუთშაბათ,
      პირობითად, რასაც გავყიდით ნოემბრის თვეში გადახდა მოგვიწევს დეკემბრის 22
      რიცხვის შემდეგ პირველ ხუთშაბათს, 22 დეკემბერი არის პარასკევი ხოლო შემდეგი
      ხუთშაბათი გამოდის 28 დეკემბერი, ამიტომ ნოემბრის თვეში გაყიდულს გადავიხდით
      28 დეკემბერს. ბუფერული პერიოდი არის საშეღავათო პერიოდი, ანუ ამ
      ხელშეკრულებაში თუ ბუფერულ პერიოდში ჩავწერთ 14-ს გადახდის დღე გადაიწევს 14
      დღით, აქედან გამომდინარე ნოემბერში გაყიდული პროდუქციის ვალს გადავიხდით არა
      28 დეკემბერს არამედ 11 იანვარს.(მოცემული მაგალითებისთვის გამოყენებულია
      2023 წლის კალენდარი). მივუთითოთ ხელშეკრულების ნომერი, დასახელება, დაწყების
      თარიღი, მოვნიშნოთ აქტიური და დავაჭიროთ პირობის შექმნას.პირობა შესაძლებელია
      იყოს, როგორც რეალიზაციებით ასევე შესყიდვებით, თუ არის გაყიდვებით, პროგრამა
      დაითვლის ხელშეკრულებაში მითითებულ პერიოდის გაყიდვებს და გვიჩვენებს
      დავალიანების ფანჯარაში, ხოლო მიღებების შემთხევაში დაითვლის მითითებული
      პერიოდში მიღებების თანხას და ანალოგიურად გვაჩვენებს დავალიანებებში.
    </p>
    <p>
      არსებულ მომწოდებელზე უკვე შეიქმნა პირობა. ცხადია, რომ მსგავსი პირობის
      შექმნამდე უნდა შევუთანხმდეთ მომწოდებელს და მხოლოდ ამის შემდეგ უნდა
      შევქმნათ პროგრამაში ხელშეკრულება. პირობის შექმნის შემდეგ აუცილებელია, რომ
      მიღება მოხდეს ამ კონკრეტული ხელშეკრულებით, სხვა შემთხვევაში დავალიანება
      იქნება არასწორად დათვლილი, ყველაფერი რასაც ამ ხელშეკრულების მიხედვით
      გავაკეთებთ იქნება ეს მიღება თუ გადახდა უნდა გატარდეს პროგრამაში.
    </p>
    <p>
      აქვე შეგვიძლია ვნახოთ მომწოდებლების სრული და კონკრეტული ხელშეკრულების
      მიხედვით შემოტანების ჯამი თანხობრივად.
    </p>
    <img
      src="../../../../assets/images/docs/suppliers-contract.png"
      alt=""
      class="float-start"
      width="30%"
    />
    ავირჩიოთ მომწოდებელი რის შემდეგაც „შემოტანები სრული“ - ში დაჯამდება ამ
    მომწოდებლის ყველა შემოტანა. თუ ავირჩევთ კონკრეტულ ხელშეკრულებას „შემოტანები
    ხელშეკრულებით“ გვაჩვენებს მხოლოდ ამ ხელშეკრულებით მიღებული პროდუქციების
    თანხობრივ ჯამს. უნდა გავითვალისწინოთ, რომ ამ თანხა დაანგარიშებულია უკან
    დაბრუნების ჩათვლით, ამ თანხას უკვე დაკლებული აქვს უკან დაბრუნება. ასევე
    დაჯამებულია მომწოდებლის პროდუქციების სრული და ასევე ხელშეკრულების მიხედვით
    რეალიზაცია. ეს ყველაფერი შეგვიძლია ვნახოთ თარიღის მიხედვითაც, ავირჩიოთ
    სასურველი დაწყების და დასრულების თარიღი, ავირჩიოთ მომწოდებელი და გვაჩვენებს
    მითითებული პერიოდის რეალიზაციებს.
  </section>
  <section >
    <h1 class="mt-5 text-start">მომწოდებლის შექმნა</h1>
    <div>
      <p>
        როგორც აღვნიშნეთ მომწოდებლები რომელთაც ხელშეკრულება აქვთ ფუდმარტთან უკვე
        რეგისტრირებულები არიან პროგრამაში და მათი დამატება არ გვჭირდება.
        მომწოდებლის შექმნა გვჭირდება იმ შემთხვევაში თუ მომწოდებელი არ არის
        ფუდმარტის ბაზაში და პირველად შემოაქვს პროდუქცია. მომწოდებლის შექმნის
        დროს უნდა გავითვალისწინოთ, რომ მისი რეგისტრირება ხდება მხოლოდ ლოკალურად
        რაც ნიშნავს იმას, რომ მომწოდებელის არცერთი პროდუქცია არ იქნება
        ხელშეკრულებაში, შესაბამისად მივიღებთ ხელშეკრულების გარეშე და მასზე არ
        იმოქმედებს ბონუს სისტემები. ასევე თუ ამ მომწოდებლის პროდუქციას
        დავაკავშირებთ რომელიმე ხელშეკრულებაში არსებულ პროდუქციაზე, შესაძლოა
        ჩვენს მიერ დაკავშირებულ პროდუქციაზე გამოცხადდეს აქცია, ეს პროდუქცია
        გაიყიდება აქციით, ხოლო ზარალი არ ანაზღაურდება.
      </p>

      <img
        src="../../../../assets/images/docs/suppliers-add.png"
        width="30%"
        class="float-start"
        alt=""
      />
      <p>
        მომწოდებლის შესაქმნელად ვიყენებთ სურათში მითითებულ კუნძულს. ჩავწეროთ
        საიდენტიფიკაციო და დავაჭიროთ
        <img src="../../../../assets/images/docs/rs-logo.png" alt="" />, რის
        შემდეგაც ავტომატურად ჩაიწერება მომწოდებლის დასახელება და დღგ-ს შესახებ
        ინფორმაცია. უნდა მივუთითოთ სტატუსი: სტატუსში გვხვდება კონსიგნაცია,
        წინასწარი და რეალიზაცია.
      </p>
      <div class="mt-4">
        <ul>
          <li>
            <strong>კონსიგნაცია </strong> - ვუთითებთ იმ შემთხვევაში თუ გვაქვს
            გადახდის პირობა, ვუხდით მიღებების მიხედვით.
          </li>
          <li>
            <strong>წინასწარი </strong> - არ გვაქვს გადახდის პირობა, ვუხდით
            თანხას შემოტანისას.
          </li>
          <li>
            <strong>რეალიზაცია </strong> - ვუთითებთ იმ შემთხვევაში თუ გვაქვს
            პირობა, ვუხდით რეალიზაციების მიხედვით.
          </li>
        </ul>
        <p>
          მისამართი, ელ ფოსტა და გაყინული თანხა არ არის აუცილებელი ველები,
          სურვილისამებრ შეგვიძლია დავტოვოთ ცარიელი ან მივუთითოთ შესაბამისი
          ინფორმაცია. დავაჭიროთ დამატებას და დაემატება მომწოდებელი. თუ უკვე
          არსებულ მომწოდებელზე გვინდა ინფორმაციის ცვლილება, მოვძებნოთ
          მომწოდებელი, ავირჩიოთ , შევცვალოთ სასურველი ინფორმაცია და დავაჭიროთ
          განახლება -ს.
        </p>
      </div>
    </div>
  </section>
  <section>
    <h1>გადახდები</h1>
    <div>
      <p>
        გადახდების მოდულში შეგვიძლია ვნახოთ მომწოდებლის ბუღალტრული(სრული)
        დავალიანება და ვაკონტროლოთ გადახდები. გადავიდეთ მომწოდებლებიდან
        გადახდების მოდულში :
      </p>

      <div>
        <img
          src="../../../../assets/images/docs/suppliers-main-table.png"
          alt=""
          width="30%"
          class="float-start me-4"
        />
        <p>
          გადახდებში ნაჩვენები მომწოდებლები არიან მხოლოდ აქტიური მომწოდებლები,
          რაც იმას ნიშნავს, რომ თუ მომწოდებელს არ აქვს ჩვენთან პროდუქცია
          შემოტანილი ამ ფანჯარაში არ გამოჩნდება. ამ ფანჯარაში ნაჩვენებია
          მომწოდებლების საიდენტიფიკაციო ნომერი დასახელება დამატებითი ინფორმაცია
          თუ გვაქვს მითითებული, საწყისი: გადახდების მოდულში გვაქვს დროის
          ფილტრაცია საიდანაც შეგვიძლია ვნახოთ პერიოდის მიხედვით ინფორმაცია
          მომწოდებლებზე, საწყისი არის თუ არჩეული პერიოდის დასაწყისში რა გვქონდა
          მომწოდებელთან ბალანსი.(სრული ვალი).
        </p>
        <ul>
          <li><strong>მიღება</strong> - რა თანხის პროდუქცია მივიღეთ.</li>
          <li><strong>გადახდა </strong> - რა თანხა გადავიხადეთ.</li>
          <li><strong>ბალანსი </strong> - საბოლოო დავალიანება.</li>
        </ul>
        <p>
          მომწოდებლის მოსაძიებლად შეგვიძლია გამოვიყენოთ როგორც დასახელება ასევე
          საიდენტიფიკაციო კოდი.
        </p>
        <p>
          ბალანსი არის სრული დავალიანება მომწოდებელთან და არ უნდა აგვერიოს
          ახლანდელ გადასახად თანხაში, ბალანსი გამოითვლება შემდეგნაირად: მიღებას
          აკლდება დაბრუნება და გადახდები, ხოლო მიღებული თანხა არის სრული ვალი.
          დავალიანება გამოითვლება ხელშეკრულებების პირობების მიხედვით, შესაძლოა
          მომწოდებელთან ბალანსში ეწეროს პირობითად 2000 ლარი, მაგრამ ახლანდელი
          მდგომარეობით არაფერი გვქონდეს გადასახდელი, რადგან როგორც ვთქვით
          დავალიანება გამოითვლება ხელშეკრულებაში მითითებული პერიოდებიდან
          გამომდინარე. მიმდინარე პერიოდის დავალიანებები ან გადასახდელი თანხები
          შეგვიძლია ვიხილოთ დავალიანების მოდულში. რაზეც შემდეგ თავში ვისაუბრებთ.
        </p>
        <p>
          მომწოდებელთან ანგარიშსწორება ანუ თანხის გადარიცხვა არ ხდება უშუალოდ
          პროგრამიდან, უნდა გადავრიცხოთ ბანკის მეშვეობით ან გადავუხადოთ ქეშად,
          მაგრამ აუცილებელია, რომ ყველა გადახდა ავსახოთ პროგრამაში.
        </p>
        <img
          src="../../../../assets/images/docs/suppliers-search-table.png"
          alt=""
          width="50%"
        />
        <p>
          მარჯვენა ფანჯარაში ნაჩვენებია თუ რა გადახდები გვაქვს განხორციელებული
          არჩეულ მომწოდებელზე, რა თანხის , ტიპის და რომელი ხელშეკრულების
          მიხედვით გვაქვს გადახდილი. გადახდის დაფიქსირების დროს აუცილებელია
          კომენტარში სწორად მივუთითოთ ხელშეკრულების ნომერი, წინააღმდეგ
          შემთხვევაში არ გამოაკლდება დავალიანებას ეს თანხა.
        </p>
      </div>
      <p>
        გადავიდეთ დავალიანების ფანჯარაში და ვნახოთ რომელ მომწოდებელთან რა თანხა
        გვაქვს გადასახდელი:
      </p>
      <img
        src="../../../../assets/images/docs/suppliers-whole-page.png"
        alt=""
        width="50%"
      />
      <p>
        ავირჩიოთ კონკრეტული თარიღი რომელ დღესაც გვაინტერესებს რა გვაქვს
        გადასახადი ან რა გვქონდა და დავაჭიროთ
        <img src="../../../../assets/images/docs/refresh-arrows.png" alt="" /> .
        სრული ვალი - ითვლის მარტო ხელშეკრულების მიხედვით რა გვაქვს გადასახდელი,
        არ ითვალისწინებს ზედმეტ ან ნაკლებ გადახდებს. აუცილებელია რომ გვქონდეს
        მონიშნული.
      </p>
      <div>
        <ul>
          <li>
            <strong>საიდენტ. </strong> - მომწოდებლის საიდენტიფიკაციო კოდი.
          </li>
          <li><strong>მომწ.დასახ.</strong> - მომწოდებლის დასახელება.</li>
          <li><strong>კოდი </strong> - ხელშეკრულების ნომერი.</li>
          <li><strong>დასახელება </strong> - ხელშეკრულების სახელი.</li>
          <li>
            <strong>პირობა </strong> - ხელშეკრულების პირობა არის შესყიდვებით თუ
            გაყიდვებით.
          </li>
          <li>
            <strong>ანგ.სწორ.დრო </strong> - რა თარიღში გვიწევს ამ მომწოდებელთან
            ანგარიშსწორება.(უახლოესი დრო).
          </li>
          <li>
            <strong>პერ.დასაწყისი/პერ.ბოლო </strong> - ანგარიშსწორების დროს რა
            პერიოდიდან რა პერიოდამდე გაყიდული ან მიღებული პროდუქციის თანხას
            ვუხდით მომწოდებელს.
          </li>
          <li>
            <strong>გადასახდელი/გადახდა სულ </strong> - რა თანხა გვქონდა სულ
            გადასახდელი/ რა თანხა გადავუხადეთ.
          </li>
        </ul>
        <p>
          დავალიანების მოდულში, ძიებაში მოვფილტროთ ფუდმარტი და ვნახოთ
          დავალიანება.
        </p>
        <img
          src="../../../../assets/images/docs/suppliers-main-table-top.png"
          width="50%"
          alt=""
        />
        <p>
          როგორც ვხედავთ ფუდმარტთან პირველი ხელშეკრულების მიხედვით არ გვაქვს
          არაფერი გადასახდელი ხოლო მეორე ხელშეკრულების მიხედვით 314,70 გვაქვს
          გადასახდელი. გადახდის შემთხვევაში, როგორც აღვნიშნეთ პროგრამაში
          აუცილებელია, რომ გავატაროთ ეს გადახდა, პროგრამაში გატარების დროს
          აუცილებელია, რომ მივუთითოთ რომელი ხელშეკრულებით გადავიხადეთ თანხა,
          რადგან 314.70-ს გამოაკლდეს გადახდილი თანხა. დავაკლიკოთ „კოდი“- ში
          ჩაწერილ ხელშეკრულების ნომერს მაუსის მარცხენა ღილაკით და გადმოვიდეთ
          გადახდებში.
        </p>
        <p>როგორც ვხედავთ მომწოდებელი ავტომატურად მოგვიძებნა.</p>
        <img
          src="../../../../assets/images/docs/suppliers-chosen-table.png"
          width="50%"
          alt=""
        />
        <p>ახლა შევიყვანთ ინფორმაცია გადახდის შესახებ:</p>
        <img
          src="../../../../assets/images/docs/suppliers-bottom.png"
          width="50%"
          alt=""
        />

        <ul>
          <li>
            <strong>გადახდის ტიპი </strong>- შევიყვანოთ როგორ მოხდა
            ანგარიშსწორება, ქეშად თუ ბარათით(შეგვიძლია მივაბათ ანგარიშის
            ნომრებიც და დავაფიქსიროთ რომელი ანგარიშიდან მოხდა გადარიცხვა.)
          </li>
          <li>
            <strong>თანხა</strong>- გადარიცხული თანხის რაოდენობა. ათწილადის
            გამოსაყოფად უნდა გამოვიყენოთ წერტილი.
          </li>
          <li>
            <strong>კომენტარი (ხელშეკრულების N) </strong>– კოდზე დაკლიკების დროს
            ავტომატურად დაკოპირდა ხელშეკრულების ნომერი ჩავაკოპიროთ ამ ველში.
          </li>
        </ul>
        <p>
          დავაჭიროთ გადახდას ავირჩიოთ გადახდის თარიღი და გადახდა დაფიქსირებულია.
          მომწოდებელზე როგორც ბალანსიდან ასევე დავალიანებიდან გამოაკლდება ეს
          თანხა.
        </p>
        <div class="d-flex align-items-center">
          <img
            src="../../../../assets/images/docs/suppliers-small-table.png"
            width="50%"
            alt=""
          />
          <p>როგორც ვხედავთ გადახდა დაფიქსირდა და დავალიანებაში გამოაკლდა.</p>
        </div>
        <img
          src="../../../../assets/images/docs/suppliers-last-picture.png"
          width="100%"
        />
      </div>
    </div>
  </section>
</article>
