<div class="m-aut">
  <section>
    <h1>მომხმარებლები</h1>
    <p>
      მომხმარებლების ფანჯრიდან შეგვიძლია შევქმნათ იუზერები ჩვენი
      თანამშრომლებისთვის. ამ ფანჯარაში შესვლისას გამოგვიჩნდება არსებული
      მომხმარებლები შესაბამისი უფლებებით.
    </p>
    <img
      src="../../../../assets/images/docs/users-table.png"
      width="70%"
      alt=""
    />
    <p>
      მომხმარებლის შესაქმნელად ფანჯრის მარჯვენა მხარეს დავაჭიროთ
      <img src="../../../../assets/images/docs/users-add-btn.png" alt="" />
    </p>
    <div class="d-flex align-items-center">
      <div>
        <img src="../../../../assets/images/docs/users-get-back.png" alt="" />
      </div>
      <div>
        <ul>
          <li>
            <strong>დასახელება</strong> - შევიყვანოთ მომხმარებელს რასაც
            ვარქმევთ, შეიძლება იყოს პოზიცია(ადმინისტრატორი, მენეჯერი) ან უბრალოდ
            სახელი.
          </li>
          <li>
            <strong> ბარათის ნომერი</strong>
            - შევიყვანოთ ბარათის ნომერი. არქონის შემთხვევაში შევიყვანოთ
            სასურველი ციფრები, არ უნდა ემთხვეოდეს პაროლს
          </li>
          <li>
            <strong>პაროლი </strong> - შევიყვანოთ პაროლით საკონტაქტო ინფორმაცია,
            მისამართი ან სხვა დამატებითი ინფორმაცია.
          </li>
        </ul>
      </div>
    </div>
    <div>
      <p>
        ავირჩიოთ ობიექტი რომელ ობიექტზეც ვამატებთ მოცემულ იუზერს და ავირჩიოთ
        დონე:
      </p>
      <ul>
        <li>
          <strong>ADMIN</strong>- მომხმარებელი რომელსაც პროგრამის ყველა მოდულზე
          უნდა ქონდეს წვდომა.
        </li>
        <li>
          <strong
            >SALES- მივუთითოთ მოლარის მომხმარებლის შექმნისას. ექნება მხოლოდ
            რეალიზაციის მოდული.</strong
          >
        </li>
        <li>
          <strong>SALES2</strong>- მოლარე , გამოიყენება კვების ობიექტებისთვის.
        </li>
        <li>
          <strong>ადმინი</strong> - ამ უფლებას არ ვუთითებთ, მხოლოდ აქვს
          მენეჯერის იუზერს რომელიც პროგრამის ჩაწერისას იქმნება.
        </li>
      </ul>
      <p>
        დავაჭიროთ
        <img src="../../../../assets/images/users-save-btn.png" alt="" /> რის
        შემდეგაც დაემატება მომხმარებელი.
      </p>
    </div>
  </section>
  <section>
    <h1>პაროლის შეცვლა</h1>
    <p>
      პაროლის ცვლილებისთვის უნდა ავირჩიოთ მომხმარებელი რომლის პაროლის შეცვლაც
      გვინდა. დავაჭიროთ ღილაკს მარჯვენა მხარეს
      <img
        src="../../../../assets/images/docs/users-password-change.png"
        alt=""
      />
    </p>
    <div>
      <div class="d-flex align-items-center">
        <img
          src="../../../../assets/images/docs/users-password-change-input.png"
          width="30%"
          alt=""
        />
        <p>
          შევიყვანოთ ახალი პაროლი დავამოწმოთ(მეორე ველშიც ვწერთ ახალ პაროლს) და
          დავაჭიროთ
          <img
            src="../../../../assets/images/docs/users-password-saved.png"
            alt=""
          />
        </p>
      </div>
    </div>
  </section>
  <section>
    <h1>მომხმარებლების უფლებები</h1>
    <div class="d-flex align-items-center">
      <div>
        <img src="../../../../assets/images/docs/users-skill-img.png" alt="" />
      </div>
      <div>
        <p>
          იუზერებს შეგვიძლია ავუკრძალოთ პროგრამის კონკრეტული მოდულები ან
          მოდულებში შევუზღუდოთ გარკვეული ფუნქციები.
        </p>
        <p>
          ავირჩიოთ მომხმარებელი და წაუშალოთ მონიშვნა სასურველ მოდულს, რის
          შემდეგაც ამ იუზერს არ გამოუჩნდება ამონიშნული მოდული, შესაბამისად ვერ
          შეძლებს ამ მოდულის გამოყენებას. მოლარეების იუზერზე არ აქვს მნიშვნელობა
          იქნება თუ არა ეს მოდული მონიშნული რადგან როდესაც შექმნის დრის ვუთითებთ
          sales უკვე განსაზღვრულია რომ ამ მომხმარებელს მხოლოდ რეალიზაციის
          გამოუჩნდება.
        </p>
        <p>
          ასევე მოდულების გვერდზე გვხვდება „ყველა ფუნქცია“ ამონიშვნის
          შემთხვევაში მომხმარებელს ექნება მოდულზე წვდომა მაგრამ არა სრული
          უფლებებით, მაგ: თუ პროდუქციის მოდული იქნება მონიშნული ხოლო მის
          გასწვრივ „ყველა ფუნქცია“ ამონიშნული ამ შემთხვევაში ასეთ მომხმარებელს
          ექნება პროდუქციის მოდულზე წვდომა მაგრამ პროდუქციის შექმნისა და
          ჩასწორების უფლება არ ექნება. ასევე რეალიზაციის ფანჯარა თუ იქნება
          მონიშნული ხოლო ყველა ფუნქცია ამონიშნული ასეთი იუზერი შეძლებს
          რეალიზაციებს ნახვას სხვადასხვა კატეგორიებით მაგრამ ვერ შეძლებს
          რეალიზაციის ამოშლას, კოდის გადაკეთებას და თარიღის შეცვლას
          რეალიზაციაზე. ამგვარად შეგვიძლია შევქმნათ მომხმარებლები, მხოლოდ
          რომელთაც გარკვეულ მოდულებზე ექნებათ წვდომა.
        </p>
      </div>
    </div>
  </section>
</div>
