<article class="container">
  <h1>სალაროს მოდული</h1>
  <section>
    <p>
      სალაროს ფანჯრიდან შეგვიძლია ვნახოთ: რეალიზაციები მოლარეების მიხედვით ,
      ვაკონტროლოთ სალარო და ატვირთოთ ზედნადებები.
    </p>
    <p>
      რეალიზაციის ფანჯარაში გატარებული ყველა პროდუქცია გამოგვიჩნდება სალაროს
      მოდულში იმის მიხედვით თუ რომელი მომხმარებლიდან მოხდა რეალიზაცია.
    </p>
    <div class="d-flex align-items-center my-4">
      <img src="../../../../assets/images/docs/cashier-calendar.png" alt="" />
      <p>
        დროის ფილტრაციით შეგვიძლია ვნახოთ მოლარის რეალიზაციები(ჩეკები).
        შეგვიძლია ავირჩიოთ ან ხელით ჩავწეროთ სასურველი თარიღი ან დრო.
      </p>
    </div>
    <div class="d-flex align-items-center">
      <img src="../../../../assets/images/docs/cashier-table.png" alt="" />
      <p>
        დროის არჩევის შემდეგ გამოჩნდება არჩეულ პერიოდში რომელი მოლარეები
        მუშაობდნენ და ოდენობის თანხა ქონდათ რეალიზებული.
      </p>
    </div>
  </section>
  <section>
    <ul>
      <li>
        <strong>მოლარე</strong>- მომხმარებლის სახელები ვისაც , არჩევის შემდეგ
        გვაჩვენებს რა ჩეკები აქვს გატარებული კონკრეტულ მოლარეს.
      </li>
      <li>
        <strong>ნაღდი </strong>- კონკრეტულ იუზერს(მითითებულ დროის პერიოდში)
        რამდენი აქვს ნაღდზე გაყიდული.
      </li>
      <li>
        <strong>უნაღდო</strong>- კონკრეტული იუზერს(მითითებულ დროის პერიოდში)
        რამდენი აქვს გაყიდული ბარათით.
      </li>
      <li>
        <strong>მიმდინარე</strong>- რეალიზაციის მოდულში არის გატარებული
        პროდუქცია და არ არის გადაშვებული რეალიზაციაში.
      </li>
      <li><strong>ჯამი</strong>- ნაღდის და უნაღდოს ჯამი.</li>
      <li>
        <strong>რაოდენობა</strong>- მომხმარებლების, ჩეკების ჯამური რაოდენობა.
      </li>
      <li><strong>საწყისი</strong>- ცვლის გახსნის თარიღი.</li>
      <li><strong>დასასრული</strong>- დასასრული</li>
    </ul>
    <img src="../../../../assets/images/docs/cashier-money-table.png" alt="" />
    <p>
      ამ ფანჯარაში დაჯამებულია ყველა გამოტანილი იუზერის მიერ ნავაჭრი ნაღდი,
      უნაღდო, მიმდინარე, ნაღდის და უნაღდოს ჯამი, მომხმარებლების რაოდენობა და
      საშუალო დანახარჯი ერთი მომხმარებლისგან.
    </p>
    <p>
      როგორც ვახსენეთ იუზერის არჩევის შემდეგ გამოგვიტანს ამ იუზერის მიერ გაყიდულ
      ჩეკებს. ავირჩიოთ მოლარე :
    </p>
    <img src="../../../../assets/images/docs/cashier-table2.png" alt="" />
    <p>
      N არის ჩეკის ნომერი რომელიც ასევე დატანილია სალარო აპარატიდან ამოსულ
      ჩეკზე(აუცილებელია, რომ გადაშვებული იყოს პროგრამიდან, სხვა შემთხვევაში არ
      დაემთხვევა ერთმანეთს.) თუ თანხა წერია ნაღდში ეს იმას ნიშნავს, რომ
      რეალიზაცია მოხდა ნაღდი ანგარიშსწორებით, თუ თანხა წერია უნაღდოში ნიშნავს
      იმას რომ რეალიზაცია მოხდა უნაღდო ანგარიშსწორებით(ბარათით გადაიხადა) ხოლო
      იმ შემთხვევაში თუ თანხა წერია მიმდინარეში ნიშნავს, რომ ამ კონკრეტულ ჩეკში
      გატარებული პროდუქცია გატარებული არის რეალიზაციის ფანჯარაში, მაგრამ არ არის
      გაყიდული ანუ არ არის გადაშვებული არც ნაღდზე და არც უნაღდოზე, შესაბამისად
      ეს გატარება ისევ რეალიზაციის ფანჯარაში იქნება. ასევე გამოტანილია დრო, რა
      თარიღსა და დროს მოხდა კონკრეტული ჩეკის გატარება-გაყიდვა.
    </p>
    <p>
      ჩეკის არჩევის შემთხვევაში გვაჩვენებს რა პროდუქციები არის ამ კონკრეტული
      ჩეკით გაყიდული.
    </p>
    <div class="d-flex align-items-center">
      <img src="../../../../assets/images/docs/cashier-table2.png" alt="" />
      <p>
        ნაჩვენებია პროდუქციის ინფორმაცია როგორიცაა : კოდი , შტრიხკოდი,
        დასახელება, ასევე ნაჩვენებია რაოდენობა თუ რამდენი გაიყიდა , ფასი - რა
        ფასში მოხდა რეალიზაცია, ჯამი და დრო.
      </p>
    </div>
    <p>
      არის შემთხვევები როდესაც რაოდენობაში წერია 0. ეს ის შემთხვევაა როდესაც
      მოლარემ რეალიზაციის ფანჯარაში გაატარა პროდუქცია და შემდეგ ამოშალა. ამ
      პროდუქციის რეალიზაცია არ მომხდარა, მაგრამ პროგრამა ასეთ გატარებებს ინახავს
      და გვაჩვენებს იმ ჩეკში სადაც ამოიშალა ეს პროდუქცია.
    </p>

    <div>
      <p>
        სალაროს ფანჯარაში ასევე გვაქვს დამატებითი ძებნის ფუნქციები რომელიც
        გამოჩნდება მწვანე ისარზე დაჭერის შემდეგ.
      </p>
      <img src="../../../../assets/images/docs/cashier-search.png" alt="" />
      <p>
        შეგვიძლია მოვძებნოთ ჩეკი კლიენტის ნომრით. ჩავწეროთ ჩეკის ნომერი ავირჩიოთ
        შესაბამისი თარიღი და დავაჭიროთ ენთერ ღილაკს კლავიატურაზე, რის შემდეგაც
        მოგვიძებნის ამ კონკრეტულ ჩეკს.
      </p>
      <p>
        როდესაც შევდივართ სალაროს ფანჯარაში ავტომატურად გვიფილტრავს მიმდინარე
        თარიღს და ნაჩვენებია მხოლოდ მოლარეების მომხმარებლების გაყიდვა. თუ გვინდა
        გამოგვიჩნდეს სხვა დონის მქონე იუზერის გაყიდვები უნდა მოვხსნათ მონიშვნა
        „მხოლოდ მოლარეები“. ხოლო თუ გვინდა მხოლოდ ისეთი ჩეკების ნახვა რომლებშიც
        მოხდა ჩასწორება(პროდუქციის ამოშლა ან რაოდენობის მომატება-დაკლება) უნდა
        მოვნიშნოთ „ჩასწორებულები“. ასევე შეგვიძლია ვნახოთ კონკრეტული მოლარის
        გაყიდვები, ჩამოვშალოთ „მოლარე“ ავირჩიოთ სასურველი მომხმარებელი. ობიექტის
        ფილტრაცია გვჭირდება იმ შემთხვევაში თუ ერთ პროგრამაში ჩამატებული გვაქვს
        ერთი შპს-ს სხვადასხვა ფილიალები და ამ პროგრამიდან კონკრეტული ობიექტის
        რეალიზაციების ნახვა გვსურს.
      </p>
      <p>
        როგორც ვხედავთ ამ ფანჯარაში გვხვდება მეორე მწვანე ისარიც რომლის დაჭერის
        შემდეგაც ფანჯრის ქვედა ნაწილში გამოჩნდება დამატებითი ფანჯარა. ამ
        ფანჯრიდან შეგვიძლია ჩავასწოროთ ნაღდი და უნაღდო გაყიდვები. მაგ: თუ
        მოლარეს შეეშალა გაყიდვა და უნაღდოს მაგივრად გაყიდვა გადაიტანა ნაღდზე
        შეგვიძლია შევცვალოთ პროგრამულად, უნდა ვიცოდეთ, რომ ეს ცვლილება მხოლოდ
        პროგრამულად განხორციელდება და სალარო აპარატზე ისევ უნაღდო-ზე იქნება
        დაფიქსირებული.
        <img
          src="../../../../assets/images/docs/cashier-book.png"
          alt=""
        />დეტალური რეპორტი მოლარეების მიხედვით.
      </p>
    </div>
  </section>

  <section>
    <h1>კლიენტები</h1>
    <p>
      კლიენტის ფანჯარა გვხვდება, როგორც სალაროს ფანჯარაში, ასევე გამოტანილია
      ცალკე მოდულად პროგრამის მთავარ მენიუში. ეს ფანჯარა საშუალებას გვაძლევს
      საჭიროების შემთხვევაში ავტვირთოთ ზედნადებები. ზედნადების ატვირთვა
      გვჭირდება შემდეგ შემთხვევებში:
    </p>
    <p>შიდა გადაზიდვა:</p>
    <p>
      როდესაც ჩვენი შპს-ს ერთი ფილიალიდან გადაგვაქვს მეორე ფილიალზე. ორივე უნდა
      იყოს ერთი და იგივე შპს, ერთი დასახელებითა და საიდენტიფიკაციო ნომრით, თუ
      გვაქვს ორი შპს მაგ. შპს სატესტო საიდ: 123456789 და შპს სატესტო1
      საიდ:987654321 ეს ორი ერთმანეთისგან დამოუკიდებელი კომპანიებია მიუხედავად
      იმისა, რომ ორივე ერთი პირს ეკუთვნის, აქედან გამომდინარე თუ შპს სატესტო-დან
      ავტვირთავთ ზედნადებს შპს სატესტო1 ზე, ეს არ იქნება შიდა გადაზიდვა.
    </p>

    <p>
      შიდა გადაზიდვა უნდა გავაკეთოთ პროგრამულად, ზედნადები უნდა აიტვირთოს
      პროგრამიდან. ამისთვის პირველ რიგში გავხსნათ პროგრამა მენეჯერის უფლების
      მქონე მომხმარებლით. გადავიდეთ რეალიზაციებში და გავატაროთ ის პროდუქციები
      რომლის გადატანაც გვინდა სხვა ფილიალში. ვინაიდან არის შიდა გადაზიდვა, ეს
      გატარება არ საჭიროებს ჩეკს რადგან რს ზე ისედაც ფიქსირდება ეს ყოველივე,
      ამიტომ უნდა გამოვრთოთ სალარო აპარატთან კავშირი რადგან ჩეკის გარეშე
      გადავიდეს პროგრამაში ეს გაყიდვა. ამისათვის დავაჭიროთ პარამეტრების ლოგოს და
      გამოტანილ მენიუში დავაჭიროთ
      <img
        src="../../../../assets/images/docs/cashier-turn-off.png"
        alt=""
        width="120px"
      />
      , შემდეგ
      <img
        src="../../../../assets/images/docs/cashier-ok.png"
        alt=""
        width="80px"
      />
      და ავირჩიოთ ნაღდი ან უნაღდო.
    </p>
    <p>
      გავხსნათ სალაროს მოდული. სალაროს ფანჯარაში შესვლის დროს ეს რეალიზაცია არ
      გამოჩნდება, რადგან პროდუქცია გაყიდულია მენეჯერის მომხმარებლით, ამიტომ
      დავაჭიროთ მწვანე ისარს და მოვხსნათ მონიშვნა „მხოლოდ მოლარე“-ს, გამოჩნდება
      იუზერი რომლიდანაც გავატარეთ ასატვირთი პროდუქციები ავირჩიოთ კონკრეტული ჩეკი
      რომელშიც მოხდა ამ პროდუქციების გაყიდვა და სალაროშივე გადავიდეთ კლიენტების
      ფანჯარაში.
    </p>
    <p>კლიენტის შექმნა:</p>
    <p>
      როდესაც პირველად ვტვირთავთ ნებისმიერ კომპანიაზე ზედნადებს დაგვჭირდება რომ
      შევქმნათ კლიენტი. როდესაც ერთხელ შევქმნით კლიენტს მომავალში სხვა
      გაყიდვების ასატვირთად აღარ დაგვჭირდება ამ კლიენტის შექმნა უბრალოდ ავირჩევთ
      კლიენტს და დავაჭერთ phoTO კლიენტების ფანჯარაში უნდა დავამატოთ ის კლიენტი
      ვისაც ვუტვირთავთ ზედნადებს
    </p>
    <img src="../../../../assets/images/cashier-naming.png" alt="" />
    <p>შევავსოთ მოცემული უჯრები შესაბამისი ინფორმაციით.</p>
    <p>
      ჩავწეროთ საიდენტიფიკაციო კოდი და დავაჭიროთ ენთერს კლავიატურაზე , ამის
      შემდეგ შპს-ს სახელი ავტომატურად ჩაიწერება დასახელების გრაფაში. ავტომობილის
      და მძღოლის ნომერში უნდა შევიყვანოთ ავტომობილის ნომერი - მძღოლის პირადი
      ნომერი, სურათზე ნაჩვენები ფორმატით. თუ ზედნადებში უნდა იყოს მითითებული
      „ტრანსპორტირების გარეშე“ ასეთ შემთხვევაში ჩავწეროთ 3 ტირე (---). შიდა
      გადაზიდვის შემთხვევაში აუცილებელია, რომ მითითებული იყოს მანქანის და
      მძღოლის ინფორმაცია. მისამართში შევიყვანოთ ტრანსპორტირების დასრულების
      ადგილი , ანუ ვისაც ავუტვირთავთ ზედნადებს იმ კომპანიის მისამართი. მოვნიშნოთ
      ითვალისწინებს თუ არა ეს გადაზიდვა დღგ-ს და დავაჭიროთ მწვანე პლიუსის
      ხატულას რის შემდეგაც დაემატება ახალი კლიენტი.
    </p>
    <p>
      კლიენტების წაშლა არ არის შესაძლებელი ამიტომ თუ კლიენტს არასწორად შევქმნით,
      დავდგეთ კლიენტზე, ჩავასწოროთ ინფორმაცია და დავაჭიროთ -
      <img src="../../../../assets/images/docs/cashier-check.png" alt="" />
      ჩასწორება.
    </p>
    <p>
      კლიენტი დამატებულია, ახლა უნდა ავირჩიოთ კლიენტი(რომელ რეალიზაციასაც
      ვუტვირთავთ უნდა იყოს მონიშნული, უნა იყოს ლურჯი ფერის.) დავაჭიროთ მარცხენა
      ზედა კუთხეში
      <img src="../../../../assets/images/docs/rs-logo.png" alt="" /> ლოგოს,
      გამოტანილ ფანჯარაში დავაჭიროთ ატვირთვა
      <img src="../../../../assets/images/docs/cashier-upload-rs.png" alt="" />
    </p>
    <p>
      გააქტიურება ავტომატურად არის მონიშნული და ნიშნავს, რომ როდესაც ზედნადების
      ატვირთვას დავაჭერთ ზედნადები გააქტიურდეს. თუ გვინდა რომ ზედნადები RS-ზე
      აიტვირთოს მაგრამ არ იყოს გააქტიურებული და იყოს „შენახულები“-ში მოვხსნათ
      გააქტიურების მონიშვნა და ისე დავაჭიროთ ატვირთვას.
    </p>
    <p>მიყიდვა:</p>
    <p>
      არის ხოლმე შემთხვევები როდესაც მომწოდებელი არ ტვირთავს დაბრუნების
      ზედნადებს ან და შესაძლოა შეიცვალოს შპს რის გამოც ვერ შევასრულებთ
      დაბრუნებას, იქიდან გამომდინარე, რომ გამოდის რომ შემოიტანა სხვა შპს-მ და
      გააქვს სხვა შპს-ს. სხვა სახის ზედნადებების ატვირთვის დროს პროდუქციას
      ვატარებდით რეალიზაციის მოდულიდან რადგან უნდა გატარებულიყო სარეალიზაციო
      ფასში, მისყიდვის შემთხვევაში მომწოდებელს ზედნადები უნდა ავტვირთოთ
      თვითღირებულებით ან თვითღირებულებაზე პროცენტული ნამატით, აქედან გამომდინარე
      გვიწევს ექსელი-ს დოკუმენტის შექმნა, სადაც შევიყვანთ ასატვირთი პროდუქციების
      შტრიხკოდებს, რაოდენობას და ფასს. იხილეთ სურათზე.
    </p>
    <div class="d-flex align-items-center">
      <img src="../../../../assets/images/docs/cashier-excel.png" alt="" />
      <p>
        ეს დოკუმენტი უნდა შევინახოთ .xls გაფართოებით. ამისათვის დავაჭიროთ FILE
        შემდეგ Save as ავირჩიოთ Desktop, რადგან ჩვენ მთავარ სამუშაო დაფაზე
        მოხდეს ფაილის შექმნა, დავარქვათ სახელი და ფორმატებში ავირჩიოთ Excel
        97-2003 Workbook (*.xls) დავაჭიროთ SAVE.
      </p>
    </div>
    <p>
      მენეჯერის იუზერით შევიდეთ რეალიზაციის ფანჯარაში დავაჭიროთ
      <img
        src="../../../../assets/images/docs/cashier-settings.png"
        width="50px"
        alt=""
      />
      დავინახავთ ექსელი-ს ლოგოს, ჩვენი შექმნილი დოკუმენტი უნდა გადმოვათრიოთ
      მაუსით და ჩავაგდოთ პროგრამაში ექსელი-ს ლოგოში. ექსელ-ში არსებული
      პროდუქციები ავტომატურად გატარდება სალაროში, დავაჭიროთ
      <img
        src="../../../../assets/images/docs/cashier-turn-off.png"
        width="120px"
        alt=""
      />
      . შემდეგ
      <img
        src="../../../../assets/images/docs/cashier-ok.png"
        width="80px"
        alt=""
      />
      და გავყიდოთ პროდუქცია უნაღდო-ზე . ამის შემდეგ როგორც წინა მაგალითებში
      ავტვირთოთ ზედნადები სალაროს ფანჯრიდან.
    </p>
    <p>
      როდესაც რომელიმე შპს იყიდის ჩვენგან პროდუქციას შესაძლოა მოგვთხოვოს
      ზედნადების ატვირთვა. მსგავსი ზედნადების ატვირთვაც ანალოგიურად ხდება, უნდა
      გავატაროთ პროდუქცია, დავამატოთ კლიენტი(ვისაც ვუტვირთავთ ზედნადებს)
      მოვნიშნოთ ორივე , რასაც ვტვირთავთ და ვისაც ვუტვირთავთ, დავაჭიროთ
      ატვირთვა-ს.
    </p>
  </section>
  <section>
    <h1>სალაროს მოძრაობა</h1>
    <p>
      სალაროს მოძრაობის ფანჯარა გამოიყენება მენეჯერისა და მოლარეს შორის თანხის
      მოძრაობის დასაფიქსირებლად. აქ უნდა დავაფიქსიროთ ის თანხა რასაც მივცემთ
      ჩვენ მოლარეს, და ის თანხა რასაც მოლარე დაგვიბრუნებს. ეს რეპორტი, რომ სწორი
      იყოს ყოველდღე უნდა დავაფიქსიროთ თანხის მოძრაობა. როდესაც მოლარეს მივცემთ
      თანხას (შესაძლოა ეს იყოს სმენის დაწყების წინ მიცემული თანხა ხურდისათვის.)
      შევიყვანოთ ის თანხა რა თანხასაც გავცემთ მოლარეზე, კომენტარში შეგვიძლია
      დავწეროთ დანიშნულება და დავაჭიროთ „თანხის გაცემა“-ს. სმენის დასრულების
      დროს რა თანხასაც დაგვიბრუნებს მოლარე(ჩვენი მიცემული თანხის ჩათვლით) უნდა
      ჩავწეროთ თანხის მიბარება-ში და დავაჭიროთ „თანხის მიბარება“.
    </p>
    <p>
      დაფიქსირებული მოძრაობის ამოშლა შესაძლებელია, უნდა ავირჩიოთ და დავაჭიროთ
      „DELETE“ღილაკს კლავიატურაზე. წაშლილების გამოჩენა თუ გვინდა მოვნიშნოთ
      წაშლილები.
    </p>
    <img src="../../../../assets/images/docs/cashier-saved.png" alt="" />
  </section>
</article>
