<div>
  <div class="p-3 bg-light">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="bd-links-group py-2">
        <strong class="w-semibold">პროდუქცია </strong>
        <ul class="list-unstyled fw-normal pb-2 small">
          <li routerLink="product">
            <a class="bd-links-link d-inline-block rounded w-100"
              >ინფორმაცია პროდუქციის შესახებ
            </a>
          </li>
          <li routerLink="fillter">
            <a class="bd-links-link d-inline-block rounded">ფილტრაცია</a>
          </li>
          <li routerLink="fillter/editing">
            <a class="bd-links-link d-inline-block rounded"
              >პროდუქციის ჩასწორება</a
            >
          </li>
          <li routerLink="fillter/create-product">
            <a class="bd-links-link d-inline-block rounded"
              >პროდუქციის შექმნა/ჩასწორება</a
            >
          </li>
          <li routerLink="groupControl">
            <a class="bd-links-link d-inline-block rounded"
              >ჯგუფების კონტროლი</a
            >
          </li>
          <li>
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header routerLink="saleControl">
                  <mat-panel-description>
                    <li>
                      <a class="bd-links-link d-inline-block rounded"
                        >ფასდაკლებების მართვა</a
                      >
                    </li>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <li routerLink="saleControl">
                  <a class="bd-links-link d-inline-block rounded w-100"
                    >საათობრივი ფასდაკლება</a
                  >
                </li>
                <li routerLink="saleControl/hourly">
                  <a class="bd-links-link d-inline-block rounded">აქცია</a>
                </li>
              </mat-expansion-panel>
            </mat-accordion>
          </li>
          <li>
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-description routerLink="calculation">
                    <li>
                      <a class="bd-links-link d-inline-block rounded"
                        >კალკულაცია</a
                      >
                    </li>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <li>
                  <a class="bd-links-link d-inline-block rounded w-100">
                    კალკულაციის შექმნა</a
                  >
                </li>
                <li routerLink="calculation/production">
                  <a class="bd-links-link d-inline-block rounded">წარმოება</a>
                </li>
                <li>
                  <a class="bd-links-link d-inline-block rounded"
                    >კალკულაციასთან დაკავშირებული პრობლემები</a
                  >
                </li>
              </mat-expansion-panel>
            </mat-accordion>
          </li>

          <li routerLink="addFunctionality">
            <a class="bd-links-link d-inline-block rounded"
              >დამატებითი ფუნქციები</a
            >
          </li>
        </ul>
      </li>

      <li class="bd-links-group py-2">
        <strong>მიღება</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="rsWindow">
            <a class="bd-links-link d-inline-block rounded">მიღება</a>
          </li>
          <li routerLink="rsWindow/recieveDisable">
            <a class="bd-links-link d-inline-block rounded"
              >ზედნადების გაუქმება</a
            >
          </li>
          <li routerLink="rsWindow/changeContract">
            <a class="bd-links-link d-inline-block rounded"
              >ხელშეკრულების შეცვლა</a
            >
          </li>
          <li routerLink="rsWindow/buyingWithContract">
            <a class="bd-links-link d-inline-block rounded"
              >მიღება შესყიდვის აქტით</a
            >
          </li>
        </ul>
      </li>
      <li class="bd-links-group py-2">
        <strong>სალარო</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="cashier">
            <a class="bd-links-link d-inline-block rounded">ნავაჭრი</a>
          </li>
          <li routerLink="cashier/moveCashier">
            <a class="bd-links-link d-inline-block rounded">სალაროს მოძრაობა</a>
          </li>
          <li routerLink="cashier/client">
            <a class="bd-links-link d-inline-block rounded">კლიენტები</a>
          </li>
          <li routerLink="cashier">
            <a class="bd-links-link d-inline-block rounded">სალაროს წიგნი</a>
          </li>
          <li routerLink="cashier">
            <a class="bd-links-link d-inline-block rounded">ფასდაკლებები</a>
          </li>
        </ul>
      </li>
      <li class="bd-links-group py-2">
        <strong>დაბრუნება</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="return">
            <a class="bd-links-link d-inline-block rounded">დაბრუნება</a>
          </li>
          <li routerLink="return/handReturn">
            <a class="bd-links-link d-inline-block rounded">ხელით დაბრუნება</a>
          </li>
        </ul>
      </li>
      <li class="bd-links-group py-2">
        <strong>მომწოდებლები</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="supplier">
            <a class="bd-links-link d-inline-block rounded">მომწოდებლები</a>
          </li>
          <li routerLink="supplier/create-supplier">
            <a class="bd-links-link d-inline-block rounded"
              >მომწოდებლის შექმნა</a
            >
          </li>
          <li routerLink="supplier/pay">
            <a class="bd-links-link d-inline-block rounded">გადახდები</a>
          </li>
        </ul>
      </li>
      <li class="bd-links-group py-2">
        <strong>რეპორტები</strong>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <li routerLink="reports">
                  <a class="bd-links-link d-inline-block rounded">ფილტრაცია</a>
                </li>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <li routerLink="reports/realize">
              <a class="bd-links-link d-inline-block rounded w-100"
                >რეალიზაცია</a
              >
            </li>

            <li routerLink="reports/recieve">
              <a class="bd-links-link d-inline-block rounded">მიღება</a>
            </li>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-description>
                <li routerLink="reports">
                  <a class="bd-links-link d-inline-block rounded">რეპორტი</a>
                </li>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <li routerLink="reports/supplier">
              <a class="bd-links-link d-inline-block rounded w-100"
                >მომწოდებლები</a
              >
            </li>
            <li routerLink="reports/balance">
              <a class="bd-links-link d-inline-block rounded">ნაშთები</a>
            </li>
          </mat-expansion-panel>
        </mat-accordion>
      </li>
      <li class="bd-links-group py-2">
        <strong>კლიენტები</strong>
      </li>
      <li class="bd-links-group py-2">
        <strong>პარამეტრები</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="parameters">
            <a class="bd-links-link d-inline-block rounded">სასწორები</a>
          </li>
          <li routerLink="parameters">
            <a class="bd-links-link d-inline-block rounded">პრინტერები</a>
          </li>
        </ul>
      </li>
      <li class="bd-links-group py-2">
        <strong>მომხმარებელი</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="users/create">
            <a class="bd-links-link d-inline-block rounded"
              >მომხმარებლის შექმნა</a
            >
          </li>
          <li routerLink="users/password">
            <a class="bd-links-link d-inline-block rounded">პაროლის შეცვლა</a>
          </li>
          <li routerLink="users/permissions">
            <a class="bd-links-link d-inline-block rounded">უფლებები</a>
          </li>
        </ul>
      </li>
      <li class="bd-links-group py-2">
        <strong>რეალიზაცია</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="realization">
            <a class="bd-links-link d-inline-block rounded">რეალიზაცია</a>
          </li>
        </ul>
      </li>
      <li class="bd-links-group py-2">
        <strong>აღწერა</strong>
      </li>
      <li class="bd-links-group py-2">
        <strong>გადაადგილება</strong>
      </li>
      <li class="bd-links-group py-2">
        <strong>ჩამოწერა</strong>
        <ul class="nav nav-pills flex-column mb-auto">
          <li routerLink="writeoff/main">
            <a class="bd-links-link d-inline-block rounded">ჩამოწერა</a>
          </li>
          <li routerLink="writeoff/cancel">
            <a class="bd-links-link d-inline-block rounded"
              >ჩამოწერის გაუქმება</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
