.bd-links-link {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.65);
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.bd-links-link:hover {
  background-color: #0d6efd;
}
.active:hover {
  color: rgba(0, 0, 0, 0.85);
}
.active {
  border-radius: 100px;
  background-color: #0d6efd;
}
