<article>
  <section>
    <h1>ფასდაკლებები</h1>
    <p>
      პროგრამის საშუალებით შეგვიძლია გავაკეთოთ ფასდაკლებები დღის მონაკვეთებში ,
      მაგალითად პროდუქცია , რომლის გასაყიდი ფასიც არის 10 ლარი , შეგვიძლია 15:00
      საათზე ფასი გავხადოთ 5 ლარი და შემდეგ 18:00 ზე გახდეს ისევ 10 ლარი.
    </p>
    <p>
      დავაჭიროთ პროდუქციის სრული თვით ღირებულებისგან მარჯვნივ არსებულ მწვანე
      ისარს.
    </p>
    <p>
      <img src="../../../../assets/images/selfPrive-img.png" alt="selfPrice" />
      გამოგვიტანს შემდეგ ფანჯარას:
    </p>
  </section>
  <section class="d-flex">
    <img
      src="../../../../assets/images/docs/priceCalculation-img.png"
      alt="price"
      height="500px"
    />
    <div class="mx-5">
      <p>როგორც ვხედავთ ჯგუფის გრაფაში წერია დრო.</p>
      <p>
        ფასდაკლების გასაკეთებლად, დროის გასწვრივ, ფასში, უნდა ჩავწეროთ რა ფასში
        გვინდა გაიყიდოს პროდუქცია მითითებულ დროს , ხოლო მეორე ველში უნდა
        ჩავწეროთ პროდუქციის პირვანდელი ფასი , რადგან მითითებულ დროს, ისევ
        პირვანდელ ფასს დაუბრუნდეს პროდუქცია.
      </p>
      <p>
        დროის მითითება ხდება SQL პროგრამიდან , სჭირდება გარკვეული ცოდნა და
        უმჯობესია, დროის მისათითებლად, დაუკავშირდეთ მეგა პლუსს 032 2 500 601 -
        ზე.
      </p>
      <p>
        სასურველი დროისა და ფასების მითითების შემდეგ უნდა დავაჭიროთ მარჯვენა
        ქვედა კუთხეში , სურათზე წითლად მონიშნულ ხატულას.
      </p>
      <p>
        დროის და ფასების დამახსოვრების შემდეგ, პროგრამა ავტომატურად შეცვლის
        ფასებს დროის მიხედვით. შესაბამისად მხოლოდ სასურველ პროდუქციებზე ერთხელ
        უნდა გავიმეოროთ ეს ოპერაცია.
      </p>
      <p>
        იმ შემთხვევაში თუ აქციის გაუქმება გვინდა ფასში(ორივე ზოლში) უნდა
        ჩავწეროთ: 0.00(წერტილი) და დავამახსოვროთ ინფორმაცია.
      </p>
    </div>
  </section>
  <section id="hourly">
    <h1>აქციის შექმნა</h1>
    <div>
      <p>
        აქცია იქმნება პროდუქციის ფანჯრიდან , მოვიძიოთ პროდუქცია , რომელზეც აქცია
        გვინდა რომ გავაკეთოთ, მოვნიშნავთ (გავალურჯებთ) და დავაჭიროთ ქვედა
        მარჯვენა კუთხეში არსებულ მწვანე ისარს.
      </p>
      <div class="text-center">
        <img
          class=""
          src="../../../../assets/images/docs/create-price-img.png"
          alt=""
        />
      </div>

      <div>
        <p>ამოტანილ ფანჯარაში მოვძებნოთ „ფასდაკლებამდე“ - ველი.</p>

        <p>
          „ფასდაკლებამდე“- ჩავწეროთ პროდუქციის ამჟამინდელი ფასი, ხოლო „ფასი“ -
          ში ჩავწეროთ სააქციო ფასი. აქციის გაკეთების დროს რეკომენდირებულია
          კომენტარში მიუთითოთ, რომ ეს არის ჩვენი აქცია. საბოლოო შედეგი
          გამოიყურება ასე:
        </p>
        <img
          src="../../../../assets/images/docs/priceChange-field-img.png"
          alt=""
        />
        <p>დავაჭიროთ „ჩასწორება“-ს.</p>
        <p>
          ხელით შექმნილი აქცია ავტომატურად აქ უქმდება, ამიტომ, ხელითვე უნდა
          გავაუქმოთ. გასაუქმებლად ფასდაკლებამდე ფასში ვწერთ 0 -ს , ხოლო ფასში
          სარეალიზაციო ფასს, ვაჭერთ ჩასწორებას.
        </p>
        <p>
          პროდუქციას სტატუსის ზოლში ჩაუჯდება აქციის მაჩვენებელი ნიშანი :
          <img
            src="../../../../assets/images/docs/action-img.png"
            alt=""
            width="75"
          />
        </p>
        <p>
          სააქციო ფასის ამობეჭდვის დროს ფას მაჩვენებელი ამოვა შემდეგი ფორმატით :
        </p>
        <div class="text-center">
          <img
            src="../../../../assets/images/docs/priceControl-result.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</article>
