<article>
  <h1>ჯგუფების კონტროლი</h1>
  <section>
    <p>
      პროგრამაში, პროდუქციის ფანჯარაში შეგვიძლია შევქმნათ ჯგუფები, გავაწევრიანოთ
      პროდუქციები შესაბამის ჯგუფებში რაც დაგვეხმარება პროდუქციის ფილტრაციაში და
      გაგვიმარტივებს ჯგუფების მიხედვით აღწერის პროცესს. თავდაპირველად პროგრამაში
      არ არის შექმნილი ჯგუფები, ჩვენ შეგვიძლია ჯგუფების შექმნა ჩვენი სურვილიდან
      გამომდინარე. ჯგუფის შექმნის დროს აუცილებელია ვიდგეთ იმ ჯგუფზე ან ობიექტზე
      სადაც გვინდა ჯგუფის ან ქვეჯგუფის შექმნა. თავდაპირველად, როდესაც პირველ
      ჯგუფს ვქმნით უნდა დავდგეთ<img
        src="../../../../assets/images/docs/groupControl-img.png"
        alt="groupControl"
      />
      ობიექტის სახელზე, დავაჭიროთ მწვანე ისარს რის შემდეგაც გამოვა დამატებითი
      ფანჯარა სადაც უნდა შევიყვანოთ ჯგუფის ინფორმაცია.
    </p>
  </section>
  <section class="d-flex">
    <img
      src="../../../../assets/images/docs/groupCode-img.png"
      alt="groupcode"
    />
    <div>
      <p>
        კოდში შეგვიძლია მივანიჭოთ ჯგუფს კოდი და შემდგომში ჯგუფი მოვძებნოთ კოდის
        მიხედვით, ასევე შეგვიძლია ეს ფანჯარა დავტოვოთ ცარიელი და უკოდოთ შევქმნათ
        ჯგუფი. ჯგუფი- უნდა შევიყვანოთ ჯგუფის დასახელება. დავაჭიროთ შექმნას და
        შეიქმნება ახალი ჯგუფი.
        <strong>
          აუცილებელია რომ თუ ჯგუფს ვქმნით ვიდგეთ ჩვენი ობიექტის დასახელებაზე და
          არა სამ ტირეზე წინააღმდეგ შემთხვევაში შეიქმნება ობიექტი და არა
          ჯგუფი.</strong
        >
        ქვეჯგუფიც იქნება ანალოგიურად, უბრალოდ, უნდა ვიდგეთ იმ ჯგუფზე რომელშიც
        გვინდა რომ შეიქმნას ეს ქვეჯგუფი.
      </p>
    </div>
  </section>
  <section class="d-flex my-4" >
    <img src="../../../../assets/images/docs/underGoup-img.png" alt="" />
    <div>
      <p>
        კონკრეტულად ასეთი სისტემის შექმნის დროს უნდა დავდგეთ ჩვენს ობიექტზე,
        დავაჭიროთ მწვანე ისარს ჩავწეროთ ჯგუფის დასახელება “სასმელები“(სურვილის
        შემთხვევაში კოდიც) და დავაჭიროთ „შექმნა“-ს. შემდეგ დავდგეთ სასმელებზე და
        შევქმნათ ქვეჯგუფები „ალკოჰოლური“ და „არა ალკოჰოლური“ ამის შემდეგ დავდგეთ
        „ალკოჰოლური“-ზე და შევქმნათ ქვეჯგუფი არაყი. დავდგეთ „არა ალკოჰოლურზე“ და
        შევქმნათ ქვეჯგუფი „გაზიანი სასმელები“. დავდგეთ „არა ალკოჰოლური“-ზე და
        შევქმნათ ქვეჯგუფი წვენი. ლიმონათის შესაქმნელად უკვე უნდა დავდგეთ გაზიანი
        სასმელების ქვეჯგუფზე და შევქმნათ ლიმონათი. ამის მსგავსად შეგვიძლია
        შევქმნათ ჯგუფები და ქვეჯგუფები.
        <strong>
          აუცილებელია დავდგეთ იმ ჯგუფზე რომელში გვინდა რომ შევქმნათ ქვეჯგუფი ან
          ვაქციოთ ჯგუფად.</strong
        >
      </p>
    </div>
  </section>
  <section id="change-groupName">
    <h1>ჯგუფის სახელის შეცვლა</h1>
    <p>
      ჯგუფის სახელის შესაცვლელად უნდა დავდგეთ ჯგუფზე, რომლის სახელის შეცვლაც
      გვინდა, დავაჭიროთ მწვანე ისარს საიდანაც ვქმნით ჯგუფს, ჩავწეროთ ახალი
      სახელი და დავაჭიროთ „შეცვლა“-ს.
    </p>
  </section>
  <section>
    <h1>პროდუქციის ჯგუფში გაწევრიანება</h1>
    <p>
      პროდუქციის ჯგუფში გასაწევრიანებლად დავდგეთ პროდუქციაზე (უნდა გახდეს
      ლურჯი), ავირჩიოთ ჯგუფი რომელშიც უნდა გავაწევრიანოდ პროდუქცია და დავაჭიროთ
      ჩასწორებას.
    </p>
    <p>
      თუ გვინდა, რომ რამდენიმე პროდუქცია ერთად გავაწევრიანოთ ერთ ჯგუფში,
      ამისთვის სასურველი პროდუქციაბი უნდა მოვნიშნოთ ჯგუფის სვეტში(ჯგუფის სვეტი
      უნდა მოვნიშნოთ მხოლოდ) ავირჩიოთ სასურველი ჯგუფი და დავაჭიროთ ჩასწორებას.
    </p>
    <p>
      ჯგუფის კონტროლი შესაძლებელია მხოლოდ არა ფრენჩაიზებში, და არ არის
      შესაძლებელი პროგრამის MINI ვერსიაში.
    </p>
  </section>
</article>
