<article>
  <section>
    <div>
      <h1>კალკულაცია</h1>
      <p>
        კალკულაცია საშუალებას გვაძლევს რამდენიმე პროდუქტი გავყიდოთ ერთ კოდზე.
      </p>
      <p>
        უფრო გასაგები რომ იყოს ავიღოთ შემდეგი მაგალითი: დავუშვათ რომ გვინდა
        გავაკეთოთ სასაჩუქრე კალათა, კალათში უნდა იყოს შამპანური, სნიკერსი ,
        შოკოლადის ფილა და კალათა. სასაჩუქრე კალათის გასაყიდად კალკულაციის გარეშე
        მოგვიწევდა რომ ყველა კალათაში არსებული პროდუქცია ცალ-ცალკე გაგვეტარებინა
        , მაგრამ კალკულაციის საშუალებით შეგვიძლია შევქმნათ ერთი პროდუქცია
        „სასაჩუქრე კალათა“ სადაც დავამატებთ ყველა იმ პროდუქციას რაც ამ კალათაში
        უნდა იყოს. ვნახოთ ეს ყველაფერი პრაქტიკაში :
      </p>
      <p>
        პირველ რიგში შევქმნათ პროდუქცია რაზეც შემდგომში გავაკეთებთ კალკულაციას.
      </p>
      <img
        src="../../../../assets/images/docs/calculation-creation.png"
        alt=""
      />
      <p>
        დავაჭიროთ შექმნას და ავირჩიოთ ჩვენს მიერ შექმნილი პროდუქცია.(რომ
        ავირჩევთ გალურჯდება)
      </p>
    </div>
    <div>
      <p>
        ახლა დავაჭიროთ მწვანე ისარს სურათში მითითებულ ადგილას.
        <img
          src="../../../../assets/images/docs/calculation-selfPrice.png"
          alt=""
        />
      </p>
    </div>
  </section>

  <section class="d-flex">
    <img src="../../../../assets/images/docs/calculation-window.png" alt="" />
    <div class="mx-4">
      <p>გამოგვიტანს ფანჯარას , გადავიდეთ კალკულაციის მოდულში.</p>
      <p>(კალკულაციის დაწყებამდე დავრწმუნდეთ რომ ვდგავართ სწორ პროდუქციაზე)</p>
      <p>ჩვენს შემთხვევაში ვამატებთ შემდეგ პროდუქციებს:</p>
      <img src="../../../../assets/images/docs/calculation-table.png" alt="" />
      <p>
        დავაჭიროთ მწვანე პლიუსს და გამოტანილ ფანჯარაში მოვძებნოთ პროდუქცია ,
        ავირჩიოთ, მივუთითოთ რაოდენობა და დავაჭიროთ მწვანე მონიშვნას.
      </p>
      <img src="../../../../assets/images/docs/calculation-basket.png" alt="" />
    </div>
  </section>
  <section class="d-flex mt-5">
    <img
      src="../../../../assets/images/docs/calculation-table-filled.png"
      alt=""
    />
    <div class="mx-4">
      <p>
        ყველა პროდუქციის ჩამატების შემდეგ შეგვიძლია დავიწყოთ პროდუქციის გაყიდვა.
      </p>
      <p>
        პროდუქციას თუ არასწორად ჩავამატებთ შეგვიძლია მოვნიშნოთ წაშლის
        დადასტურება და დავაჭიროთ
        <img
          src="../../../../assets/images/docs/calculation-delete.png"
          alt=""
          height="30px"
        />
        იმ შემთხვევაში, თუ არასწორად ჩამატებული პროდუქცია აღმოვაჩინეთ იმის
        შემდეგ რაც კალკულაციის პროდუქციის გაყიდვა დაწყებული, პირდაპირ ამოშლა არ
        შეიძლება, რადგან გაყიდვებიც ამოიშლება. ასეთ შემთხევაში, უნდა გამოვრთოთ,
        ამოვნიშნოთ, სიმულაცია, წავშალოთ პროდუქცია და შემდეგ დავამატოთ სწორი
        პროდუქცია იმ თარიღით როდესაც გავაკეთეთ კალკულაცია, რადგან გაყიდვები
        გამოაკლდეს პროდუქციას იმ თარიღიდან, როდესაც დაიწყო კალკულაციის
        პროდუქციის გაყიდვა.
      </p>
      <p>
        ვუშვათ, რომ სასაჩუქრე კალათიდან გვინდა ამოვიღოთ სნიკერსი და გვინდა
        ჩავამატოთ ბაუნტი. პროგრამულად უნდა გავაკეთოთ შემდეგი ოპერაცია: დავდგეთ
        პროდუქციაზე რომელიც გვინდა რომ ავიღოთ, მოვნიშნოთ თარიღი რა დროიდანაც
        გვინდა ამოღება(თარიღის მონიშვნა გვჭირდება იმ შემთხვევაში თუ წინა
        პერიოდით გვინდა ამ ოპერაციის შესრულება) და დავაჭიროთ
        <img
          src="../../../../assets/images/docs/calculation-date.png"
          height="30px"
          alt=""
        />
        -ს ახლა ჩავამატოთ ბაუნტი ჩვენს კალკულაციაში. საბოლოოდ პროგრამა სასაჩუქრე
        კალათის გაყიდვის დროს ნაშთიდა დაიწყებს სნიკერსის მაგივრად ბაუნტის
        გამოკლებას.
      </p>
      <p>
        რეცეპტი - გამოიყენება ინგრედიენტების ჩასაწერად , ან შეგვიძლია
        გამოვიყენოთ კალკულაციის ისტორიის კომენტარის სახით ჩასაწერად.
      </p>
      <p>ანალოგიურად გამოიყენება აპარატის ყავის პროგრამულად გასაყიდად.</p>
    </div>
  </section>
  <section class="my-4" id="production">
    <h1>წარმოება</h1>
    <p>
      კალკულაციის გაკეთების შემდეგ, როდესაც კალკულაციის პროდუქცია გაიყიდება,
      ვიცით, რომ კალკულაციის პროდუქციას ნაშთი არ გამოაკლდება, ვინაიდან
      კალკულაციაში შეყვანილ პროდუქციებს აკლდება ნაშთზე ის რაოდენობა რაც
      კალკულაციაში გვექნება მითითებული. წარმოებით შეგვიძლია წინასწარ ვაწარმოოთ
      პროდუქცია, ანუ წინასწარ გამოაკლოს კალკულაციაში შეყვანილი პროდუქციები
      ნაშთიდან და თვითონ კალკულაციის პროდუქციაზე დაემატოს ნაშთი. უფრო ადვილად
      რომ გავიგოთ ავიღოთ ესეთი მაგალითი: დავუშვათ ვაწარმოებთ ლობიანს,
      კალკულაციაში შევიყვანდით 1 ლობიანს რა ინგრედიენტებიც სჭირდება, როდესაც
      ლობიანი გაიყიდებოდა, პროგრამა ავტომატურად გამოაკლებდა კალკულაციაში
      შეყვანილ რაოდენობებს კალკულაციაში შეყვანილ პროდუქციებს. თვითონ კალკულაციის
      პროდუქცია ნაშთზე იქნებოდა ყოველთვის ნული და ვერ გავიგებდით რამდენი ლობიანი
      გვაქვს ახლა მაღაზიაში, წარმოების შემთხვევაში , თუ გამოვაცხობთ პირობითად 10
      ლობიანს , გავაკეთებთ ამის წარმოებას და 10 ცალი ლობიანი აგვესახება
      პროდუქცია „ლობიანი“-ს ნაშთზე, ხოლო კალკულაციაში შეყვანილ პროდუქციებს
      წინასწარ გამოაკლდება 10 ცალი ლობიანისთვის საჭირო რაოდენობა. ლობიანის
      გაყიდვის შემთხვევაში პირდაპირ ლობიანის ნაშთს გამოაკლდება 1 ერთეული და
      დარჩება ნაშთზე 9 ცალი.
    </p>
    <p>
      წარმოებისათვის უნდა გადავიდეთ წარმოებაში ჩავწეროთ რაოდენობა რამდენი
      ერთეულის წარმოებაც გვინდა და დავაჭიროთ წარმოებას.
    </p>
  </section>
</article>
