<article>
  <section>
    <h1>რეალიზაცია</h1>
    <img
      src="../../../../assets/images/docs/realization-window.png"
      width="50%"
      alt=""
    />
    <p>
      რეალიზაციის ფანჯრიდან შეგვიძლია გავყიდოთ პროდუქცია, რეალიზაციის ფანჯარა
      არის ის ერთადერთი მოდული რომელზეც მოლარეს აქვს წვდომა. პროგრამასთან
      შეგვიძლია დავაინტეგრიროთ სალარო აპარატი, ტერმინალები, ჩამონათვალის
      პრინტერი, როდესაც გავატარებთ სასურველ პროდუქციას გადავუშვებთ პროგრამულად
      რეალიზაციაში და ავტომატურად, ნაღდის შემთხვევაში გადაიტანს პირდაპირ სალარო
      აპარატზე ხოლო უნაღდოს შემთხვევაში გადაიტანს მითითებულ ტერმინალზე.
    </p>
    <p>მოდით ვნახოთ რეალიზაციის ფანჯარა და გავერკვიოთ ფუნქციებში.</p>
    <img src="../../../../assets/images/docs/realization-top.png" alt="" />
    <p>
      მარცხენა ზედა კუთხეში გვიჩვენებს რომელი მომხმარებელი არის შესული
      პროგრამაში.
    </p>
    <p>
      დრო არის იგივე რასაც კომპიუტერში გვიჩვენებს, დრო უნდა იყოს სწორი რადგან თუ
      დრო არასწორია რა თარიღიც არის იმ თარიღსა და დროში აისახება გაყიდვა. შემდეგ
      გვაქვს ჩეკის ნომერი.
    </p>
    <img src="../../../../assets/images/docs/realization-controls.png" alt="" />
    <div class="d-flex align-items-center mt-3">
      <img src="../../../../assets/images/docs/triali.png" alt="" />
      <p>
        მოლოდინში გადატანა. შესაძლებლობას გვაძლევს A გატარება შევინახოთ,
        გავატაროთ სხვა მომხმარებელი და შემდეგ უკან დავაბრუნოთ A გატარება.
      </p>
    </div>
    <div class="d-flex align-items-center mt-3">
      <img src="../../../../assets/images/docs/lupa.png" alt="" />
      <p>
        ძებნა. გამოგვიტანს ფანჯარას საიდანაც შეგვიძლია მოვძებნოთ პროდუქცია კოდით
        ან დასახელებით, ვნახოთ ფასი ან გადმოვიტანოთ რეალიზაციაში
      </p>
    </div>
    <div class="d-flex align-items-center mt-3">
      <div class="d-flex align-items-center mt-3">
        <img src="../../../../assets/images/docs/up.png" alt="" />
        <img src="../../../../assets/images/docs/down.png" alt="" />
      </div>
      <p>გატარებული პროდუქციებს შორის მოძრაობა, ზევით და ქვევით.</p>
    </div>
    <div class="d-flex align-items-center mt-3">
      <img src="../.../../../../../assets/images/docs/plus.png" alt="" />
      <p>გატარებულ პროდუქციაზე რაოდენობის მომატება, ზრდის ერთი ერთეულით.</p>
    </div>
    <div class="d-flex align-items mt-3">
      <img src="../../../../assets/images/docs/minus.png" alt="" />
      <p>გატარებულ პროდუქციაზე რაოდენობის დაკლება, აკლებს ერთე ერთეულს.</p>
    </div>
    <div class="d-flex align-items align-items-center mt-3">
      <img src="../../../../assets/images/docs/X.png" alt="" />
      <p>გატარებული პროდუქციის ამოშლა, შლის 1 პოზიციას მთლიანად.</p>
    </div>
    <div class="d-flex align-items align-items-center mt-3">
      <img src="../../../../assets/images/docs/cashier-settings.png" alt="" />
      <p>პარამეტრების გამოტანა. გამოაქვს შემდეგი პარამეტრები:</p>
    </div>
    <div class="d-flex align-items align-items-center mt-3">
      <img
        src="../../../../assets/images/docs/realization-X-Z-OFF.png"
        alt=""
      />
      <div>
        <p>X რეპორტის ამოღება სალარო აპარატიდან.</p>
        <p>
          დღის დახურვა. Z რეპორტის ამოღება. დღე იხურება ყველა მოწყობილობაზე.
        </p>
        <p>
          სალარო აპარატთან კავშირის გათიშვა. თუ გავთიშავთ სალარო აპარატთან
          კავშირს ნაღდზე გატარებისას აღარ ამოვა სალარო აპარატიდან ჩეკი.
        </p>
      </div>
    </div>
    <div class="d-flex align-items">
      <img src="../../../../assets/images/docs/keyboard.png" alt="" />
      <p>
        გამოაქვს კლავიატურა, ციფრები - კოდის შესაყვანად, X - რაოდენობის მომატება
        (ვწერთ X და შემდეგ რამდენი ცალიც გვინდა გახდეს პროდუქცია.) <- შეყვანილი
        ინფორმაციის წაშლა.
      </p>
    </div>
    <div class="d-flex align-items">
      <img src="../../../../assets/images/docs/xurda2.png" alt="" />
      <p>
        ხურდის მოთხოვნა, შესაყვან ველში გამოჩნდება „ > “ ნიშანი და უნდა
        შევიყვანოთ რა თანხაც მოგვცა მომხმარებელმა, პროგრამა ამ თანხას გამოაკლებს
        გადასახდელ თანხას და დაგიწერთ ხურდას რამდენიც უნდა დაუბრუნოთ.
      </p>
    </div>
    <p>პროდუქციის გასატარებლად დავასკანეროთ პროდუქცია.</p>
    <p>
      პროგრამა მოძებნის პროდუქციის შტრიხკოდს ბაზაში და გამოგვიტანს მის
      ინფორმაციას.
    </p>
    <img
      src="../../../../assets/images/docs/realization-product-table.png"
      alt=""
    />
    <p>
      როდესაც მომხმარებლის მიერ შერჩეულ ყველა პროდუქციას დავასკანერებთ,
      დავაჭიროთ ენთერს კლავიატურაზე ან
      <img src="../../../../assets/images/docs/cashier-ok.png" alt="" /> ღილაკს.
      ფანჯარაში უნდა ავირჩიოთ როგორ ხდება გადახდა.
    </p>
    <div class="d-flex align-items">
      <img
        src="../../../../assets/images/docs/realization-payment-method.png"
        width="30%"
        alt=""
      />
      <div>
        <p>
          ავირჩიოთ გადახდის მეთოდი და დავაჭიროთ
          <img
            src="../../../../assets/images/docs/realization-check.png"
            alt=""
          />
        </p>
        <p>
          დადასტურების შემთხვევაში ამოვა ჩეკი, სხვა შემთხვევაში არ გადაიტანს
          პროგრამა რეალიზაციაში.
        </p>
      </div>
    </div>
  </section>
</article>
